<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/admin.css">
    <title>관리자 페이지</title>
</head>
<body>
<header id="admin_header">
    <div class="images">
        <a href="index.html"><img class="logo" src="images/POPUP%20DAY.svg" alt="로고"></a>
    </div>
</header>
<div class="admin_container">

</div>
<div class="container">

</div>
<footer>
    <div class="under_info">
        <p>Copyright 2024. POPUP DAY. All rights reserved.</p>
    </div>
</footer>
</body>
</html>