<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/admin-layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/adminNotice.css}">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css}">
    <title>관리자 페이지</title>
</head>
<body class="admin-body">
<th:block layout:fragment="admin-content">
    <div class="admin-content">
        <div class="admin_container">
            <h2>관리자 페이지</h2>
            <ul>
                <li><a th:href="@{/admin/register.do}">팝업 신청 검토</a></li>
                <li><a th:href="@{/admin/memberShip.do}">회원관리</a></li>
                <li><a th:href="@{/admin/admin.do}">홈</a></li>
            </ul>
            <div class="logout">
                <a href="#">
                    <img th:src="@{/images/person.svg}">
                    <h5><a th:href="@{/login/logout.do}">로그아웃</a></h5>
                </a>
            </div>
        </div>
        <iframe th:src="@{/main.do}" id="frames">

        </iframe>
    </div>
    <script th:href="@{/js/admin.js}"/>
    <script th:src="@{https://cdn.jsdelivr.net/npm/sweetalert2@11}"></script>
</th:block>
</body>
</html>