<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 관리 페이지</title>
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <link rel="stylesheet" th:href="@{/css/membership.css}">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}">
    <link rel="stylesheet" th:href="@{/css/alert.css}">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css}">
</head>
<body>
<th:block layout:fragment="content">
    <div class="admin-content">
        <div class="admin_container">
            <h2>관리자 페이지</h2>
            <ul>
                <li><a th:href="@{/admin/register.do}">팝업 신청 검토</a></li>
                <li><a th:href="@{/admin/memberShip.do}">회원관리</a></li>
                <li><a th:href="@{/admin/admin.do}">홈</a></li>
            </ul>
            <div class="logout">
                <a href="#">
                    <img th:src="@{/images/person.svg}">
                    <h5><a th:href="@{/login/logout.do}">로그아웃</a></h5>
                </a>
            </div>
        </div>
        <div class="containers">
            <!-- 회원 관리 -->
            <h2>회원 관리</h2>
            <div th:if="${totmember == null}">
                <p class="popCount" th:text="'0개'"></p>
            </div>
            <div th:unless="${totmember == null}">
                <p class="popCount" th:text="'전체 ' + ${totmember} + '개'"></p>
            </div>

            <!-- db 회원 게시판 가져오기 -->
            <table>
                <tr class="tr_title">
                    <th>회원번호</th><th>아이디</th><th>닉네임</th><th>이름</th><th>비밀번호</th><th>이메일</th><th>가입일</th><th>역할</th><th>상태</th><th>수정</th><th class="del">삭제</th>
                </tr>

                <!-- 회원 없을 때 -->
                <tr th:if="${memberList == null or memberList.isEmpty()}">
                    <td colspan="11" rowspan="3">
                        <h4>회원이 없습니다</h4>
                    </td>
                </tr>

                <tr th:each="member : ${memberList}">
                    <td th:text="${member.id}"></td>
                    <td th:text="${member.user_id}"></td>
                    <td th:text="${member.user_nickname}"></td>
                    <td th:text="${member.name}"></td>
                    <td th:text="${member.pwd}"></td>
                    <td th:text="${member.email}"></td>
                    <td th:text="${member.reg_date}"></td>
                    <td th:text="${member.role}"></td>
                    <td th:text="${member.status}"></td>
                    <td><a th:href="@{/admin/memberModify.do(id=${member.id})}">수정</a></td>
                    <td><a href="#" onclick="drop_check(event, '/admin/delMember.do?id=${member.id}')">삭제</a></td>
                </tr>
            </table>

            <!-- 페이징 -->
            <div align="center" th:if="${totmember > 10}"> <!-- 총 글 개수가 10보다 커야 페이징을 함 -->
                <div th:if="${totmember > 100}">    <!-- 총 글 개수가 100보다 크면 -->
                    <span th:each="num : ${#numbers.sequence(1, (section > (totmember / 100) ? (totmember % 100) / 10 + 1 : 10))}">
                        <span th:if="${section > 1 and num == 1}">
                            <a th:href="@{/admin/memberShip.do(section=${section - 1}, pageNum=${(section - 1) * 10})}">prev</a>
                        </span>
                        <span th:if="${num == (pageNum % 10 == 0 ? 10 : pageNum % 10)}">
                            <a class="target" th:href="@{/admin/memberShip.do(section=${section}, pageNum=${(section - 1) * 10 + num})}" th:text="${(section - 1) * 10 + num}"></a>
                        </span>
                        <span th:unless="${num == (pageNum % 10 == 0 ? 10 : pageNum % 10)}">
                            <a class="noLine" th:href="@{/admin/memberShip.do(section=${section}, pageNum=${(section - 1) * 10 + num})}" th:text="${(section - 1) * 10 + num}"></a>
                        </span>
                        <span th:if="${num == 10}">
                            <a th:href="@{/admin/memberShip.do(section=${section + 1}, pageNum=${section * 10 + 1})}">next</a>
                        </span>
                    </span>
                </div>

                <div class="number" th:if="${totmember <= 100}">    <!-- 총 개수가 100이하면 -->
                <span th:each="num : ${#numbers.sequence(1, (totmember > 10 ? totmember / 10 + 1 : 1))}">   <!--${#numbers.sequence(1, (totmember > 10 ? totmember / 10 + 1 : 1))}-->
                    <span th:if="${num == pageNum}">
                        <a class="target" th:href="@{/admin/memberShip.do(section=${section}, pageNum=${num})}" th:text="${num}"></a>
                    </span>
                    <span th:unless="${num == pageNum}">
                        <a class="noLine" th:href="@{/admin/memberShip.do(section=${section}, pageNum=${num})}" th:text="${num}"></a>
                    </span>
                </span>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/jquery-ui.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js}" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js}" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/adminCheck.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/sweetalert2@11}"></script>
</th:block>
</body>
</html>