<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>찜</title>
    <link rel="stylesheet" th:href="@{/css/memberLike.css}">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}">
    <link rel="stylesheet" th:href="@{/css/alert.css}">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css}">
    <script>

    </script>
</head>
<body>
<th:block layout:fragment="content">
    <div class="body">
        <div class="containers">
            <!-- 찜 목록 페이지 -->
            <div class="main_title">
                <a th:href="@{/mypage/memberPage.do}"><img th:src="@{/images/ltr.svg}" alt="왼쪽화살표"></a>
                <h2>찜</h2>
            </div>

            <div class="all" th:if="${popupMap.totPopup == null}">
                <p class="num" th:text="'전체 0개'"></p>
            </div>
            <div class="all" th:unless="${popupMap.totPopup == null}">
                <p class="num " th:text="'전체 '+${popupMap.totPopup}+'개'"></p>
            </div>

            <!-- 찜한 팝업이 없을 때 -->
            <form th:if="${popupMap.popupLike == null or popupMap.popupLike.isEmpty()}">
                <h4>현재 찜한 팝업이 없습니다</h4>
            </form>

            <!-- 찜한 팝업이 있을 때 -->
            <form th:each="popup : ${popupMap.popupLike}">
                <fieldset>
                    <a th:href="@{/popup/popupView.do(popup_id=${popup.popup.popup_id})}" class="pop" title="팝업">
                        <div th:if="${popup.thumbnailImage != null}" class="popImg">
                            <img th:src="@{/popupDownload.do(popup_id=${popup.popup.popup_id}, image_file_name=${popup.thumbnailImage.image_file_name})}" alt="popupImage1">
                        </div>
                        <div th:if="${popup.thumbnailImage == null}" class="popImg">
                            <span>No Image</span> <!-- 이미지가 없는 경우 대체 텍스트 출력 -->
                        </div>
                        <div class="Acc">
                            <div class="popAcc">
                                <h5 th:text="${popup.popup.title}"></h5>
                                <p th:text="${popup.popup.start_date} + ' ~ ' + ${popup.popup.end_date}"></p>
                                <p th:text="${popup.popup.address}"></p>
                            </div>

                        </div>
                        <div class="popIcon">
                            <a href="#" th:onclick="'confirmUnlike(' + ${popup.popup.popup_id} + '); return false;'">
                                <img class="heart" th:src="@{/images/heart_fill.svg}" alt="찜 취소">
                            </a>
                        </div>
                    </a>
                </fieldset>
            </form>

            <!-- 페이징 -->
            <div align="center" th:if="${popupMap.totPopup > 10}"> <!-- 총 글 개수가 10보다 커야 페이징을 함 -->
                <div th:if="${popupMap.totPopup > 100}">    <!-- 총 글 개수가 100보다 크면 -->
                    <span th:each="num : ${#numbers.sequence(1, (section > (popupMap.totPopup / 100) ? (popupMap.totPopup % 100) / 10 + 1 : 10))}">
                        <span th:if="${section > 1 and num == 1}">
                            <a th:href="@{/mypage/memberLike.do(section=${section - 1}, pageNum=${(section - 1) * 10})}">prev</a>
                        </span>
                        <span th:if="${num == (pageNum % 10 == 0 ? 10 : pageNum % 10)}">
                            <a class="target" th:href="@{/mypage/memberLike.do(section=${section}, pageNum=${(section - 1) * 10 + num})}" th:text="${(section - 1) * 10 + num}"></a>
                        </span>
                        <span th:unless="${num == (pageNum % 10 == 0 ? 10 : pageNum % 10)}">
                            <a class="noLine" th:href="@{/mypage/memberLike.do(section=${section}, pageNum=${(section - 1) * 10 + num})}" th:text="${(section - 1) * 10 + num}"></a>
                        </span>
                        <span th:if="${num == 10}">
                            <a th:href="@{/mypage/memberLike.do(section=${section + 1}, pageNum=${section * 10 + 1})}">next</a>
                        </span>
                    </span>
                </div>

                <div class="number" th:if="${popupMap.totPopup <= 100}">    <!-- 총 개수가 100이하면 -->
                    <span th:each="num : ${#numbers.sequence(1, (popupMap.totPopup > 10 ? popupMap.totPopup / 10 + 1 : 1))}">   <!--${#numbers.sequence(1, (totmember > 10 ? totmember / 10 + 1 : 1))}-->
                    <span th:if="${num == pageNum}">
                        <a class="target" th:href="@{/mypage/memberLike.do(section=${section}, pageNum=${num})}" th:text="${num}"></a>
                    </span>
                    <span th:unless="${num == pageNum}">
                        <a class="noLine" th:href="@{/mypage/memberLike.do(section=${section}, pageNum=${num})}" th:text="${num}"></a>
                    </span>
                </span>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/jquery-ui.min.js}"></script>
    <script th:src="@{/js/search.js}"></script>
    <script th:src="@{/js/popupView.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/sweetalert2@11}"></script>
</th:block>
</body>
</html>