<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>찜 페이지</title>
    <link rel="stylesheet" href="../../static/css/index.css">
    <link rel="stylesheet" href="../../static/css/memberLike.css">
</head>
<body>
<header>
    <div class="images">
        <img class="logo" src="../../static/images/POPUP%20DAY.svg" alt="로고">
        <div>
            <img class="user" src="../../static/images/Group.svg" alt="회원">
            <img class="category" src="../../static/images/Vector.svg" alt="카테고리">
        </div>
    </div>
</header>
<div class="container">
    <!-- 찜 목록 페이지 -->
    <h2>찜</h2>
    <h3>찜 목록 보기</h3>
    <div class="all">
        <p>전체 개수</p>
        <button>전체 삭제</button>
    </div>

    <!-- 찜한 팝업이 없을 때 -->
    <h4>찜한 팝업이 없습니다.</h4>

    <!-- 찜한 팝업이 있을 때 -->
    <form>
        <fieldset>
            <a href="#" class="pop" title="팝업">
                <div class="popImg">
                    <img src="" alt="popupImage1">
                </div>
                <div class="Acc">
                    <div class="popAcc">
                        <h5>동방신기 팝업1</h5>
                        <p>08.10.19 ~ 24.12.16</p>
                        <p>서울시 강남구 서초동</p>
                    </div>
                    <div class="tags">
                        <a href="#" class="tag" title="해시태그"># 아이돌</a>
                        <a href="#" class="tag" title="해시태그"># 굿즈</a>
                        <a href="#" class="tag" title="해시태그"># 컴백</a>
                    </div>
                </div>
                <div class="popIcon">
                    <img class="delete" src="../../static/images/x.svg" alt="찜 삭제">
                    <img class="heart" src="../../static/images/heart_empty.svg" alt="찜">
                </div>
            </a>
        </fieldset>
    </form>
</div>
<footer>
    <div class="under_info">
        <ul>
            <li><a href="#">POPUP DAY</a></li>
            <li><a href="#">이용약관</a></li>
            <li><a href="#">개인정보 처리방침</a></li>
            <li><a href="#">고객지원</a></li>
        </ul>
        <p>Copyright 2024. POPUP DAY. All rights reserved.</p>
    </div>
</footer>
<!-- 처음 div만 이름 바꿨어용 -->
<div class="under_fix">
    <div class="css-footer-buttons">
        <a href="#메인페이지로_넘어가기">
            <img src="../../static/images/home.svg">
            <span>홈</span>
        </a>
        <a href="#카테고리로_넘어가기">
            <img src="../../static/images/list.svg">
            <span>카테고리</span>
        </a>
        <a href="#찜 목록으로_넘어가기">
            <img src="../../static/images/heart_bold.svg">
            <span>찜 목록</span>
        </a>
        <a href="#마이페이지로_넘어가기">
            <img src="../../static/images/person.svg">
            <span>마이페이지</span>
        </a>
    </div>
</div>
</body>
</html>