7<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 팝업 리스트</title>
    <link rel="stylesheet" th:href="@{/css/popupList.css}">
    <link rel="stylesheet" th:href="@{/css/myPopup.css}">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}">
    <link rel="stylesheet" th:href="@{/css/alert.css}">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css}">
</head>
<body>
<th:block layout:fragment="content">
    <div class="body">
        <div class="containers">
            <!-- 내 팝업 리스트 페이지 -->
            <div class="main_title">
                <a th:href="@{/mypage/businessPage.do}"><img th:src="@{/images/ltr.svg}" alt="왼쪽화살표"></a>
                <h2>내 팝업 리스트</h2>
            </div>
            <div>
                <p class="popCount" th:text="'전체 ' + ${totPopup != null ? totPopup : 0} + '개'"></p>
            </div>
            <!-- 팝업이 없을 때 -->
            <div th:if="${popupMap.popupInfoList == null or #lists.isEmpty(popupMap.popupInfoList)}">
                <h4>현재 등록된 팝업이 없습니다</h4>
            </div>
            <!-- 팝업이 있을 때 -->
            <form th:each="popup : ${popupMap.popupInfoList}">
                <fieldset>
                    <a th:href="@{/business/StatsList.do(popup_id=${popup.popup.popup_id})}">팝업 방문자 통계</a>
                    <a th:href="@{/popup/popupView.do(popup_id=${popup.popup.popup_id})}" class="pop" title="팝업">
                        <div th:if="${popup.thumbnailImage != null}" class="popImg">
                            <img th:src="@{/popupDownload.do(popup_id=${popup.popup.popup_id}, image_file_name=${popup.thumbnailImage.image_file_name})}" alt="popupImage1">
                        </div>
                        <div th:if="${popup.thumbnailImage == null}" class="popImg">
                            <span>No Image</span> <!-- 이미지가 없는 경우 대체 텍스트 출력 -->
                        </div>
                        <div class="Acc">
                            <div class="popAcc">
                                <h5 th:text="${popup.popup.title}"></h5>
                                <p th:text="${popup.popup.start_date} + ' ~ ' + ${popup.popup.end_date}"></p>
                                <p th:text="${popup.popup.address}"></p>
                            </div>
                            <div class="tags">
                                <a th:each="tag : ${popup.tags}" href="#"> <p  class="tag" th:text="${tag}" title="해시태그"></p></a>
                            </div>
                        </div>
                    </a>
                </fieldset>
            </form>

            <div align="center" th:if="${totPopup > 9}">
                <div th:if="${totPopup > 100}">
                    <span th:each="num : ${#numbers.sequence(1, (section > (totPopup / 100) ? ((totPopup % 100) / 9) + 1 : 9))}">
                        <span th:if="${section > 1 and num == 1}">
                            <a th:href="@{/mypage/myPopup.do(section=${section - 1}, pageNum=${(section - 1) * 10})}">prev</a>
                        </span>
                        <span th:if="${num == (pageNum % 9 == 0 ? 9 : pageNum % 9)}">
                            <a class="target" th:href="@{/mypage/myPopup.do(section=${section}, pageNum=${(section - 1) * 9 + num})}" th:text="${(section - 1) * 9 + num}"></a>
                        </span>
                        <span th:unless="${num == (pageNum % 9 == 0 ? 9 : pageNum % 9)}">
                            <a class="noLine" th:href="@{/mypage/myPopup.do(section=${section}, pageNum=${(section - 1) * 9 + num})}" th:text="${(section - 1) * 9 + num}"></a>
                        </span>
                        <span th:if="${num == 9}">
                            <a th:href="@{/mypage/myPopup.do(section=${section + 1}, pageNum=${section * 9 + 1})}">next</a>
                        </span>
                    </span>
                </div>
                <div th:if="${totPopup <= 100}">
                    <span th:each="num : ${#numbers.sequence(1, (totPopup / 9) + 1)}">
                        <span th:if="${num == pageNum}">
                            <a class="target" th:href="@{/mypage/myPopup.do(section=${section}, pageNum=${num})}" th:text="${num}"></a>
                        </span>
                        <span th:unless="${num == pageNum}">
                            <a class="noLine" th:href="@{/mypage/myPopup.do(section=${section}, pageNum=${num})}" th:text="${num}"></a>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/jquery-ui.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/search.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/sweetalert2@11}"></script>
</th:block>
</body>
</html>
