<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>팝업 리스트</title>
    <link rel="stylesheet" href="../../static/css/index.css">
    <link rel="stylesheet" href="../../static/css/popupList.css">
</head>
<body>
<header>
    <div class="images">
        <img class="logo" src="../../static/images/POPUP%20DAY.svg" alt="로고">
        <div>
            <img class="user" src="../../static/images/Group.svg" alt="회원">
            <img class="category" src="../../static/images/Vector.svg" alt="카테고리">
        </div>
    </div>
</header>
<div class="container">
    <!-- 팝업 리스트 페이지 -->
    <h2>팝업 리스트</h2>
    <p>전체 개수</p>

    <!-- 팝업이 없을 때 -->
    <h3>현재 등록된 팝업이 없습니다</h3>

    <!-- 팝업이 있을 때 -->
    <form>
        <fieldset>
            <a href="#" class="pop" title="팝업">
                <div class="popImg">
                    <img src="sample/dog.jpg" alt="popupImage1">
                </div>
                <div class="Acc">
                    <div class="popAcc">
                        <h5>동방신기 팝업1</h5>
                        <p>08.10.19 ~ 24.12.16</p>
                        <p>서울시 강남구 서초구</p>
                    </div>
                    <ul>
                        <li class="tag" title="해시태그"># 아이돌</li>
                        <li class="tag" title="해시태그"># 굿즈</li>
                        <li class="tag" title="해시태그"># 컴백</li>
                    </ul>
                </div>
            </a>
        </fieldset>
    </form>
</div>
<footer>
    <div class="under_info">
        <ul>
            <li><a href="main.html">POPUP DAY</a></li>
            <li><a href="#">이용약관</a></li>
            <li><a href="#">개인정보 처리방침</a></li>
            <li><a href="#">고객지원</a></li>
        </ul>
        <p>Copyright 2024. POPUP DAY. All rights reserved.</p>
    </div>
</footer>
<!-- 처음 div만 이름 바꿨어용 -->
<div class="under_fix">
    <div class="css-footer-buttons">
        <a href="#메인페이지로_넘어가기">
            <img src="../../static/images/home.svg">
            <span>홈</span>
        </a>
        <a href="#카테고리로_넘어가기">
            <img src="../../static/images/list.svg">
            <span>카테고리</span>
        </a>
        <a href="#찜 목록으로_넘어가기">
            <img src="../../static/images/heart_bold.svg">
            <span>찜 목록</span>
        </a>
        <a href="#마이페이지로_넘어가기">
            <img src="../../static/images/person.svg">
            <span>마이페이지</span>
        </a>
    </div>
</div>
</body>
</html>