<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>팝업 신청 확인</title>
  <link rel="stylesheet" th:href="@{/css/registration.css}">
  <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}">
    <link rel="stylesheet" th:href="@{/css/alert.css}">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css}">
</head>
<body>
<th:block layout:fragment="content">
  <div class="body">
    <div class="containers">
      <!-- 팝업 신청 확인 페이지 -->
        <div class="main_title">
            <a th:href="@{/mypage/businessPage.do}"><img th:src="@{/images/ltr.svg}" alt="왼쪽화살표"></a>
            <h2>팝업 신청 확인 관리</h2>
        </div>
        <div th:if="${bsPopupList.totPopup == null}">
            <p class="popCount" th:text="'전체 0개'"></p>
        </div>
        <div th:unless="${bsPopupList.totPopup == null}">
            <p class="popCount" th:text="'전체 '+${bsPopupList.totPopup}+'개'"></p>
        </div>

      <!-- 팝업이 있을 때 -->
      <table>
        <tr class="tr_title">
          <th>팝업 제목</th><th>신청 날짜</th><th class="state">승인 상태</th>
        </tr>

        <!-- 신청한 팝업이 없을 때 -->
        <tr th:if="${bsPopupList == null or bsPopupList.isEmpty()}">
          <td colspan="3" rowspan="3">
            <h4>신청된 팝업이 없습니다</h4>
          </td>
        </tr>

        <!-- 팝업 신청 결과 보기 -->
        <tr th:each="popup : ${bsPopupList.popupList}">
          <td th:text="${popup.title}"></td>
          <td th:text="${popup.created_date}"></td>
          <td th:text="${popup.role}"></td>
        </tr>
      </table>
      <div align="center" th:if="${bsPopupList.totPopup > 10}">
        <div th:if="${bsPopupList.totPopup > 100}">
            <span th:each="num : ${#numbers.sequence(1, (bsPopupList.section > (bsPopupList.totPopup / 100) ? ((bsPopupList.totPopup % 100) / 10) + 1 : 10))}">
                <span th:if="${bsPopupList.section > 1 and bsPopupList.num == 1}">
                    <a th:href="@{/mypage/registration.do(section=${bsPopupList.section - 1}, pageNum=${(bsPopupList.section - 1) * 10})}">prev</a>
                </span>
                <span th:if="${num == (pageNum % 10 == 0 ? 10 : pageNum % 10)}">
                    <a class="target" th:href="@{/mypage/registration.do(section=${bsPopupList.section}, pageNum=${(bsPopupList.section - 1) * 10 + num})}" th:text="${(bsPopupList.section - 1) * 10 + num}"></a>
                </span>
                <span th:unless="${num == (bsPopupList.pageNum % 10 == 0 ? 10 : pageNum % 10)}">
                    <a class="noLine" th:href="@{/mypage/registration.do(section=${bsPopupList.section}, pageNum=${(section - 1) * 10 + num})}" th:text="${(bsPopupList.section - 1) * 10 + num}"></a>
                </span>
                <span th:if="${num == 10}">
                    <a th:href="@{/mypage/registration.do(section=${bsPopupList.section + 1}, pageNum=${bsPopupList.section * 10 + 1})}">next</a>
                </span>
            </span>
        </div>
        <div th:if="${bsPopupList.totPopup <= 100}">
            <span th:each="num : ${#numbers.sequence(1, (totPopup / 10) + 1)}">
                <span th:if="${num == bsPopupList.pageNum}">
                    <a class="target" th:href="@{/mypage/registration.do(section=${bsPopupList.section}, pageNum=${num})}" th:text="${num}"></a>
                </span>
                <span th:unless="${num == pageNum}">
                    <a class="noLine" th:href="@{/mypage/registration.do(section=${bsPopupList.section}, pageNum=${num})}" th:text="${num}"></a>
                </span>
            </span>
        </div>
      </div>
    </div>
  </div>
  <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
  <script th:src="@{/js/jquery-ui.min.js}"></script>
  <script th:src="@{/js/main.js}"></script>
  <script th:src="@{/js/search.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/sweetalert2@11}"></script>
</th:block>
</body>
</html>