<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer">
    <div class="under_info">
        <ul>
            <li><a th:href="@{/main.do}">POPUP DAY</a></li>
            <li><a href="#">이용약관</a></li>
            <li><a href="#">개인정보 처리방침</a></li>
            <li><a href="#">고객지원</a></li>
        </ul>
        <p>Copyright 2024. POPUP DAY. All rights reserved.</p>
    </div>
    <div class="under_fix">
        <div class="css-footer-buttons">
            <a th:href="@{/main.do}" >
                <img th:src="@{/images/home.svg}">
                <span>홈</span>
            </a>
            <div class="category">
                <a href="#">
                    <img th:src="@{/images/list.svg}">
                    <span>카테고리</span>
                </a>
            </div>
            <div class="category-info">
                <div class="categoryMember">
                    <ul id="category_box">
                        <li>
                            <a href="/board/popupAllList.do">
                                POPUPLIST
                                <span>팝업전체보기</span>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/notice/noticeList.do}">
                                NOTICE
                                <span>공지사항</span>
                            </a>
                        </li>
                        <li>
                            <a th:onclick="'fn_articleForm(' + ${session.isLogOn} + ', \'/notice/qnaList.do\', \'/login/join.do\')'">
                                Q&A
                                <span>질문 & 답변</span>
                            </a>
                        </li>
                        <li>
                            <a th:onclick="'fn_articleForm(' + ${session.isLogOn} + ', \'/notice/faqList.do\', \'/login/join.do\')'">
                                FAQ
                                <span>자주 묻는 질문</span>
                            </a>
                        </li>
                        <li>
                            <a th:onclick="'fn_articleForm(' + ${session.isLogOn} + ', \'/notice/reviewList.do\', \'/login/join.do\')'">
                                REVIEW
                                <span>후기</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="businessperson_category" th:if="${session.loginDTO != null && session.loginDTO.role == T(flower.popupday.login.dto.LoginDTO.Role).사업자}">
                    <ul id="businessperson_box">
                        <li>
                            <a href="사업자 문의 창">사업자 문의</a>
                        </li>
                        <li>
                            <a href="/board/popupForm.do">팝업 등록</a>
                        </li>
                        <li>
                            <a href="사업자 팝업 수정 창">팝업 수정</a>
                        </li>
                    </ul>
                </div>
            </div>
            <a href="#">
                <img th:src="@{/images/zzem.svg}">
                <span>찜 목록</span>
            </a>
            <a href="#" th:onclick="'fn_articleForm(' + ${session.isLogOn} + ', \'/mypage/memberPage.do\', \'/login/login.do\')'">
                <img th:src="@{/images/person.svg}">
                <span>마이페이지</span>
            </a>
        </div>
        <a class="up" href="#"><img class="arrow_up" th:src="@{/images/arror_up.svg}"></a>
    </div>
</footer>

</html>