<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
	<div class="images">
		<a th:href="@{/main.do}"><img class="logo" th:src="@{/images/POPUP_DAY.svg}" alt="로고"></a>
		<div th:if="${session.isLogOn==true and session.loginDTO.user_nickname != null}">
			<div class="naming-bar">
				<p th:text="${session.loginDTO.user_nickname} + '님'"></p>
				<a class="user_img" href="#" th:onclick="'fn_articleForm(' + ${session.isLogOn} + ', \'/mypage/memberPage.do\', \'/login/login.do\')'">
					<img class="user" th:src="@{/images/Group.svg}" alt="회원">
				</a>
				<input type="hidden" id="user_point" th:value="${session.loginDTO.tot_point}" name="tot_point">
			</div>
		</div>
		<div th:unless="${session.isLogOn==true and session.loginDTO.user_nickname != null}">
			<a th:href="@{/login/login.do}">
				<img class="user" th:src="@{/images/Group.svg}" alt="회원">
			</a>
		</div>
	</div>
	<div id="search-banner">
		<div class="searchHashtag">
			<form id="searchForm" method="get" action="/search" onsubmit="return submitForm();">
				<input type="text" name="query" id="searchInput1" placeholder="검색어를 입력하세요" style="cursor: pointer">
				<input type="hidden" name="searchType" id="searchType" value="">
				<button type="submit" class="search-btn"><img th:src="@{/images/search.svg}" alt="Search"></button>
			</form>
		</div>
	</div>
</header>
</html>