<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
	<div class="images">
		<img class="logo" th:src="@{/images/POPUP_DAY.svg}" alt="로고">
		<div>
			<img class="user" th:src="@{/images/Group.svg}" alt="회원">
		</div>
	</div>
	<div id="search-banner">
		<div class="search">
			<input type="text" style="cursor: pointer">
			<button><img th:src="@{/images/search.svg}"></button>
		</div>
		<div class="search-info">
			<div class="pDiv">
				<div class="popup">
					<h2>인기팝업</h2>
					<ul>
						<li>동방신팝업</li>
						<li>카리카리</li>
						<li>이젠한번봐</li>
						<li>이클립스맛좋아</li>
					</ul>
				</div>
				<div class="detailed-search">
					<h2>상세조회</h2>
					<ul>
						<li>지역: 전체, 서울, 경기</li>
						<li>날짜: 오늘, 직접선택</li>
						<li>전체, 진행 중, 예정팝업, 종료팝업</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>
</html>