<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head> <!-- 타임리프 적용 , 타임리프 레아이웃적용 -->
    <meta charset="UTF-8">
    <title>레이아웃</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" /> <!-- 레이아웃 css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/category.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Do+Hyeon&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"></head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<body>
<div id="container">
    <header th:replace="layout/header :: header"></header> <!-- 헤더 추가 -->
    <div id="content admin-content" layout:fragment="content"></div> <!-- 컨텐츠 .html  -->
    <footer th:replace="layout/footer :: footer"></footer> <!-- 푸터 -->
</div>
</body>
</html>