<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN",
		"https://mybatis.org/dtd/mybatis-3-config.dtd">
	<configuration>
		<mappers>
		<mapper resource="mybatis/mappers/admin.xml"/> <!-- 회원관리 -->
		<mapper resource="mybatis/mappers/faq.xml"/> <!-- 게시판관리 -->
		<mapper resource="mybatis/mappers/login.xml"/>
		<mapper resource="mybatis/mappers/mypage.xml"/>
		<mapper resource="mybatis/mappers/notice.xml"/>
		<mapper resource="mybatis/mappers/popup.xml"/>
		<mapper resource="mybatis/mappers/QnA.xml"/>
		<mapper resource="mybatis/mappers/review.xml"/>
		<mapper resource="flower/popupday/search/dao/SearchMapper.xml"/>
		</mappers>
	</configuration>