<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
    <meta charset="UTF-8">
    <title>Popup Day</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/search.css}">
</head>
<body>
<th:block layout:fragment="content">
    <!-- 이거 헤더들어감여 -->
    <div class="containers">
        <div class="content">
            <div class="pDiv">
                <div class="popup">
                    <h2>인기팝업</h2>
                    <ul>
                        <li>동방신팝업</li>
                        <li>카리카리</li>
                        <li>이젠한번봐</li>
                        <li>이클립스맛좋아</li>
                    </ul>
                </div>
                <div class="detailed-search">
                    <h2>상세조회</h2>
                    <ul>
                        <li>지역: 전체, 서울, 경기</li>
                        <li>날짜: 오늘, 직접선택</li>
                        <li>전체, 진행 중, 예정팝업, 종료팝업</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
