<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{css/layout.css}" />
    <link rel="stylesheet" th:href="@{/css/inforFAQ.css}">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <title>FAQ</title>
    <script>
        $(function () {
            let sw=[false,false,false];
            let index;
            $('.answerop').click(function() {
                index=$(this).parent().index();
                //alert(index);
                sw[index]=!sw[index];
                if(sw[index]) {
                    $(this).parent().find('.answer').css('display','block');
                    $('#toggle'+index).attr('src','images/angle-up-solid.svg');
                }else {
                    $(this).parent().find('.answer').css('display','none');
                    $('#toggle'+index).attr('src','images/angle-down-solid.svg');
                }
            });
        });
    </script>
</head>

<body>
<th:block layout:fragment="content">
    <div class="contentFAQ">
        <div class="search">
            <form action="/search.jsp" method="get">
                <div class="input-wrapper">
                    <input type="text" name="searchbox" id="searchbox">
                    <button type="submit" id="searchButton">
                        <img  th:src="@{images/search.svg}" alt="돋보기">
                    </button>
                </div>
            </form>
        </div>
        <!-- 공지사항 -->
        <div class="submenu-wrap">
            <section id="submenu">
                <a class="contact" href="inforNotic.html">
                    <h2>공지사항</h2>
                </a>
                <a class="fnq" href="inforFAQ.html">
                    <h2>FAQ</h2>
                </a>
                <a class="qna" href="inforQNA.html">
                    <h2>Q&A</h2>
                </a>
                <a class="review" href="inforReview.html">
                    <h2>후기</h2>
                </a>
            </section>
        </div>

        <!-- 자주하는질문 상세페이지-->
        <div class="contact2-wrap">
            <div class="faq-list-wrap">
                <ul>
                    <li>
                        <p class="faq-category">이용</p>
                        <a class="answerop" >
                            <span>팝업스토어를 공유하려면 어떻게 해야 하나요?</span>
                            <a><img id="toggle0"  th:src="@{images/angle-down-solid.svg}" alt="내려보기"></a>
                        </a>
                        <div class="answer" style="display: none;">'메인 - CONTACT - 팝업스토어 제보'에서 회원님이 알고 계신 팝업스토어를 제보해주세요!</div>
                    </li>
                    <li>
                        <p class="faq-category">이용</p>
                        <a class="answerop" >
                            <span>팝업스토어 찜목록을 사용 하려면 어떻게 해야 하나요?</span>
                            <a><img id="toggle1"  th:src="@{images/angle-down-solid.svg}" alt="내려보기"></a>
                        </a>
                        <div class="answer" style="display: none;">'회원가입'을 하시면 이용하실 수 있으며, 마이페이지에서 찜 목록 확인도 할 수 있습니다!</div>
                    </li>
                    <li>
                        <p class="faq-category">기업</p>
                        <a class="answerop" >
                            <span>팝업스토어를 열려고 하는데 홍보가 가능한가요?</span>
                            <a><img id="toggle2"  th:src="@{images/angle-down-solid.svg}" alt="내려보기"></a>
                        </a>
                        <div class="answer" style="display: none;">'메인 - 회원가입 - 사업자'를 통해서 가입하신 후 입점가능한지 확인이 가능합니다!</div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- 페이지 수-->
        <div class="page-area">
            <ul>
                <li>
                    <a class="on">1</a>
                </li>
            </ul>
        </div>
    </div>
</th:block>
</body>
</html>