<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{css/layout.css}" />
    <link rel="stylesheet" th:href="@{/css/inforQNA.css}">
    <title>공지사항 페이지</title>
</head>
<body>
<th:block layout:fragment="content">
    <!-- 검색창 -->
    <div class="content">
        <div class="search">
            <form action="/search.jsp" method="get">
                <div class="input-wrapper">
                    <input type="text" name="searchbox" id="searchbox">
                    <button type="submit" id="searchButton">
                        <img src="images/search.svg" alt="돋보기">
                    </button>
                </div>
            </form>
        </div>
        <!-- 공지사항 -->
        <div class="submenu-wrap">
            <section id="submenu">
                <a class="contact" href="infor-notice.html">
                    <h2>공지사항</h2>
                </a>
                <a class="fnq" href="infor-faq.html">
                    <h2>FAQ</h2>
                </a>
                <a class="qna" href="inforQNA.html">
                    <h2>Q&A</h2>
                </a>
                <a class="review" href="inforReview.html">
                    <h2>후기</h2>
                </a>
            </section>
        </div>

        <!-- Q&A 상세페이지 셀렉트박스-->
        <div class="selectbox">
            <div class="selectLayer">
                <select onchange="window.location='/mz/community'+(this.value?'-'+this.value:'')+''">
                    <option value="event_notice">공지/이벤트</option>
                    <option value="brandinfo">팝업/업체 정보</option>
                </select>
            </div>
            <div class="selectLayer">
                <select onchange="submitSearchFormEl('cat',this.value);">
                    <option value="">&nbsp;+ 전체보기</option>
                    <option value="질문">ㆍ질문(22525)</option>
                </select>
            </div>
            <div class="clear"></div>
        </div>
        <a class="listnotice" href="infor.html"> <!--예를들어서 함-->
            <div class="sbj">
                <span class="subject">[공지] 질문/추천 게시판은 관리자가 답변을 달지 않습니다.</span><br>
            </div>
            <div class="regdate">
                <span>작성날짜</span>
            </div>
        </a>
        <div class="catInfo notice">
            <a href="#">공지/이벤트</a>
        </div>

        <a class="listnotice" href="#">
            <div class="sbj">
                <span class="subject">[이벤트] 팝업후기 이벤트는 후기에다가 작성해주시길 바랍니다.</span><br>
            </div>
            <div class="regdate">
                <span>작성날짜</span>
            </div>
        </a>
        <div class="catInfo notice">
            <a href="#">공지/이벤트</a>
        </div>

        <a class="listnotice" href="#">
            <div class="sbj">
                <span class="listPost">파업관련해서 문의 드립니다.</span><br>
            </div>
            <div class="regdate">
                <span>작성날짜</span>
            </div>
        </a>
        <div class="catInfo notice">
            <a href="#">팝업/업체정보</a>
        </div>

        <a class="listnotice" href="#">
            <div class="sbj">
                <span class="listPost"></span><br>
            </div>
            <div class="regdate">
                <span>작성날짜</span>
            </div>
        </a>
        <div class="catInfo notice">
            <a href="#"></a>
        </div>

        <a class="listnotice" href="#">
            <div class="sbj">
                <span class="listPost"></span><br>
            </div>
            <div class="regdate">
                <span>작성날짜</span>
            </div>
        </a>
        <div class="catInfo notice">
            <a href="#"></a>
        </div>

        <!-- 페이지 수-->
        <div class="page-area">
            <ul>
                <li>
                    <a class="on">1</a>
                </li>
            </ul>
        </div>
    </div>


</th:block>
</body>
</html>