<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/inforNotice.css}">
    <title>공지사항 상세 페이지</title>
</head>
<body>
<th:block layout:fragment="content">
    <!-- 검색창 -->
    <div class="search">
        <form action="/search.jsp" method="get">
            <div class="input-wrapper">
                <input type="text" name="searchbox" id="searchbox">
                <button type="submit" id="searchButton">
                    <img th:src="@{images/search.svg}" alt="돋보기">
                </button>
            </div>
        </form>

        <!-- 공지사항 -->
        <div class="submenu-wrap">
            <section id="submenu">
                <a class="contact" href="inforNotic.html">
                    <h2>공지사항</h2>
                </a>
                <a class="fnq" href="inforFAQ.html">
                    <h2>FAQ</h2>
                </a>
                <a class="qna" href="inforQNA.html">
                    <h2>Q&A</h2>
                </a>
                <a class="review" href="inforReview.html">
                    <h2>후기</h2>
                </a>
            </section>
        </div>

        <!-- 공지사항 상세페이지-->
        <div class="contact-wrap">
            <table class="table-board">
                <tbody>
                <tr>
                    <td><h3>공지사항</h3></td>
                    <td><h3>날짜</h3></td>
                </tr>
                <tr>
                    <td><a href="/contact/3"> 팝업데이 팝업스토어 후기 이벤트 </a></td>
                    <td>2024-07-20</td>
                </tr>
                <tr>
                    <td><a href="/contact/2"> 팝업데이 팝업스토어 어워즈 개최 </a></td>
                    <td>2024-07-15</td>
                </tr>
                <tr>
                    <td><a href="/contact/1"> 팝업데이 홈페이지 알림 </a></td>
                    <td>2024-07-12</td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- 페이지 수-->
        <div class="page-area">
            <ul>
                <li>
                    <a class="on">1</a>
                </li>
            </ul>
        </div>
    </div>

</th:block>
</body>
</html>