<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
    <link rel="stylesheet" th:href="@{/css/adminNotice.css}">
    <link rel="stylesheet" th:href="@{css/jquery-ui.min.css}">
    <title>공지사항 작성하기</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="containers">
        <h2>공지사항 작성하기</h2>
        <form action="/notice/addNotice.do" method="post" enctype="multipart/form-data">
            <div class="notice-form">
                <div class="select">
                    <label>구분</label>
                    <select name="kind" id="kind">
                        <option value="inform">공지사항</option>
                        <option value="event">이벤트</option>
                    </select>
                </div>
                <div class="notice">
                    <input type="text" placeholder="제목" name="title">
                </div>
                <div class="notice">
                    <textarea placeholder="내용을 입력하세요" rows="15" cols="200" name="content"></textarea>
                </div>
            </div>
            <div class="imagefile">
                <td>이미지파일 첨부</td>
                <td><input th:type="file" value="파일추가" onclick="fn_addFile()" name=""></td>
                <td><div id="dock_file"></div></td>
            </div>

            <div class="notice-button">
                <button type="reset">취소</button>
                <button type="submit">등록</button>
            </div>
        </form>
    </div>

    <script src="js/jquery-3.7.1.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/search.js"></script>
    </div>
</th:block>
</body>
</html>