<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
    <link rel="stylesheet" th:href="@{/css/adminNotice.css}">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}">
    <title>공지사항 글 이미지 상세보기 페이지</title>

</head>
<body>
<th:block layout:fragment="content">
    <div class="containers">
        <div class="notice-view">
            <form name="frmNoticce" action="" method="post" enctype="multipart/form-data">
                <h1 th:text="${noticeView.title}"></h1>
                <p th:text="${noticeView.created_date}"></p>
                <div th:utext="${noticeView.content}"></div>
                <a th:href="@{/notice/noticeList.do}">목록으로</a>
                <!-- 이미지가 존재할때만 보임 -->
                <div th:if="${not #strings.isEmpty(noticeView.imageFiles)}">
                    <div th:each="imgList, status: ${noticeView.imageFiles}">
                        <div>
                            <div>
                                <input type="hidden" th:name="'originFileName'+ ${status.count}" th:value="${imgList.image_file_name}">
                                <input type="hidden" th:name="'notice_image_id' + ${status.count}" th:value="${imgList.notice_image_id}">
                                <img th:id="'preview' + ${status.count}" th:src="@{/download.do(notice_id=${imgList.notice_id},image_file_name=${imgList.image_file_name})}">
                            </div>
                            <div><input type="file" id="id_imgFile" th:name="'image_file_name' + ${status.count}" th:onchange="readImage(this,${status.count})" disabled></div>
                        </div>
                    </div>
                </div>
                <div id="review-mbtn">
                    <input type="button" value="수정반영하기" onclick="review_modify(noticeView)">
                    <input type="button" value="취소" onclick="toList(noticeView)">
                </div>
                <div id="review-btn">
                    <input type="button" value="수정하기" onclick="review_enable(this.form)">
                    <input type="button" value="삭제하기" th:onclick="|fn_remove_review('/notice/removeNotice.do', ${noticeView.noticeDTO.notice_id})|">
                </div>
                <input type="button" value="리스트로 돌아가기" onclick="backToList(this.form)">
            </form>
        </div>
    </div>
    <script src="js/jquery-3.7.1.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/search.js"></script>
</th:block>
</body>
</html>