<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
    <link rel="stylesheet" th:href="@{/css/adminNotice.css}">
    <link rel="stylesheet" th:href="@{css/jquery-ui.min.css}">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css}">
    <title>공지사항 작성하기</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">

        // 다른 페이지(글 목록)로 이동
        function backToList(obj) {
            /* aform=document.articleForm;
            aform.action="${contextPath}/board/listArticles.do";
            aform.submit(); */
            obj.action="/notice/noticeList.do";
            obj.method="get"
            obj.submit();
        }

        // 여러개 이미지 추가 함수
        let count=1;
        function fn_addFile() { // cnt가 1이면 이미지 1개
            $('#dock_file').append('<input type="file" name="image_file_name' + count + '"><br>');
            count++;
        }
    </script>
</head>
<body>
<th:block layout:fragment="content">
    <div class="containers">
        <h2>공지사항 작성하기</h2>
        <form action="/notice/addNotice.do" method="post" enctype="multipart/form-data">
            <div class="notice-form">
                <div class="select">
                    <label>구분</label>
                    <select name="kind" id="kind">
                        <option value="inform">공지사항</option>
                        <option value="event">이벤트</option>
                    </select>
                </div>

                <div class="notice">
                    <input type="text" placeholder="제목" name="title">
                </div>
                <div class="notice">
                    <textarea placeholder="내용을 입력하세요" rows="15" cols="200" name="content"></textarea>
                </div>
            </div>
            <div class="imagefile">
                <td>이미지파일 첨부</td>
                <td><input name="image_file_name" type="button" value="파일추가" onclick="fn_addFile()"></td>
                <td><div id="dock_file"></div></td>
            </div>

            <div class="notice-button">
                <input type="submit" value="글쓰기">
                <input type="button" value="목록보기" onclick="backToList(this.form)">
            </div>
        </form>
    </div>

    <script src="js/jquery-3.7.1.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/search.js"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/sweetalert2@11}"></script>

</th:block>
</body>
</html>