<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/notice.css}">
    <script th:src="@{https://code.jquery.com/jquery-latest.min.js}"></script>
    <title>공지사항페이지</title>

    <script> // true false , 로그인중이면 articleForm 정보 받음 , 로그인 안했으면 loginForm으로 보냄
    function fn_noticeForm(isLogOn, noticeForm, loginForm) {
        if(isLogOn===true) {
            location.href=noticeForm;
        }else {
            alert("isLogOn : " + isLogOn);
            alert("로그인 후 글쓰기가 가능합니다.");
            location.href=loginForm + '?action=/notice/noticeForm.do';
        }
    }
    // isLogOn != '' && isLogOn != 'false'
    </script>

</head>

<body>
<th:block layout:fragment="content">
    <!--검색, 서브메뉴-->
    <div class="containers">
        <!-- 공지사항 -->
        <div class="submenu-wrap">
            <section id="submenu">
                <a class="contact" th:href="@{/notice/noticeList.do}">
                    <h2 class="active-category" >공지사항</h2>
                </a>
                <a class="contact" th:href="@{/notice/faqList.do}" >
                    <h2>FAQ</h2>
                </a>
                <a class="contact"  th:href="@{/notice/qnaList.do}">
                    <h2>Q&A</h2>
                </a>
                <a class="contact" th:href="@{/notice/reviewList.do}" >
                    <h2>후기</h2>
                </a>
            </section>
        </div>

        <!--공지사항 -->
        <div id="tab1" class="content active">
            <div class="contact-wrap">
                <table class="table-board">
                    <tbody>
                    <tr>
                        <td><h3>공지사항</h3></td>
                        <td><h3>날짜</h3></td>
                    </tr>

                    <tr th:each="notice : ${noticeMap.noticeList}">
                        <td><a th:href="@{/notice/noticeView.do(notice_id=${notice.notice_id})}" th:text="${notice.title}"></a></td>
                        <td th:text="${notice.created_date}"></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

       <!-- <div th:if="${session.loginDTO != null and session.loginDTO.getUser_id() == 'admin' and session.loginDTO.getPwd() == '1234' }">
            <a class="wirte" th:href="|javascript:fn_noticeForm(${session.isLogOn}, '/notice/noticeForm.do', '/login/loginForm.do')|">글쓰기</a>
        </div>-->
        <div class="notice-btn" >
        <button th:if="${session.loginDTO.role == T(flower.popupday.login.dto.LoginDTO.Role).관리자}"><a th:href="@{/notice/noticeForm.do}">Notice작성하기</a></button>
        </div>

        <div class="number" th:if="${noticeMap.totNotice > 10}"> <!-- 총 글 개수가 10보다 커야 페이징을 함 -->

            <div lign="center" th:if="${noticeMap.totNotice > 100}">
                <span th:each="num : ${#numbers.sequence(1, (noticeMap.section > noticeMap.totNotice / 100 ? (noticeMap.totNotice % 100) / 10 + 1 : 10))}">
                    <span th:if="${noticeMap.section > 1 and num == 1}">
                        <a th:href="@{/notice/noticeList.do(section=${noticeMap.section - 1}, pageNum=${(noticeMap.section - 2) * 10 + 1})}">prev</a>
                    </span>
                    <span th:if="${num == (noticeMap.pageNum % 10 == 0 ? 10 : noticeMap.pageNum % 10)}">
                        <a class="target" th:href="@{/notice/noticeList.do(section=${noticeMap.section}, pageNum=${(noticeMap.section - 1) * 10 + num})}" th:text="${(noticeMap.section - 1) * 10 + num}"></a>
                    </span>
                    <span th:unless="${num == (noticeMap.pageNum % 10 == 0 ? 10 : noticeMap.pageNum % 10)}">
                        <a class="noLine" th:href="@{/notice/noticeList.do(section=${noticeMap.section}, pageNum=${(noticeMap.section - 1) * 10 + num})}" th:text="${(noticeMap.section - 1) * 10 + num}"></a>
                    </span>
                    <span th:if="${num == 10}">
                        <a th:href="@{/notice/noticeList.do(section=${noticeMap.section + 1}, pageNum=1)}">next</a>
                    </span>
                </span>
            </div>

            <div class="number" th:if="${noticeMap.totNotice <= 100}">
                <span th:each="num : ${#numbers.sequence(1, (noticeMap.totNotice > 10 ? noticeMap.totNotice / 10 + 1 : 1))}">
                    <span th:if="${num == noticeMap.pageNum}">
                        <a class="page-target" th:href="@{/notice/noticeList.do(section=${noticeMap.section}, pageNum=${num})}" th:text="${num}"></a>
                    </span>
                    <span th:unless="${num == noticeMap.pageNum}">
                        <a class="page-noLine" th:href="@{/notice/noticeList.do(section=${noticeMap.section}, pageNum=${num})}" th:text="${num}"></a>
                    </span>
                </span>
            </div>
        </div>

    </div>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/jquery-ui.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js}" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js}" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script th:src="@{/js/search.js}"></script>
    <script th:src="@{/js/notice.js}"></script>
</th:block>
</body>
</html>
