
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/qnaForm.css}">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css}">
    <script th:src="@{https://code.jquery.com/jquery-latest.min.js}"></script>
    <title>질문하기</title>
    <script type="text/javascript">
        // 상세 보기로 전환(취소)
        function validateForm(event) {
            var category = document.getElementById("category_name").value;
            if (category === "선택하세요") {
                alert("카테고리를 선택해야 합니다.");
                event.preventDefault(); // 폼 제출을 방지합니다.
                return false;
            }
            return true;
        }
        // 취소 버튼 클릭 시 리스트로 돌아가기
        function backToList_qna() {
            window.location.href = "/notice/qnaList.do";
        }

    </script>
</head>
<body>
<th:block layout:fragment="content">
    <div class="containers">
        <div class="question-form">
            <form action="/notice/addQna.do" method="post" onsubmit="return validateForm(event)">
                <div class="question">
                    <label for="category_name">카테고리</label>
                    <select id="category_name" name="category_name">
                        <option value="선택하세요">선택하세요</option>
                        <option value="공지/이벤트">공지/이벤트</option>
                        <option value="팝업/업체정보">팝업/업체정보</option>
                    </select>
                </div>

                <div><!-- 글번호 -->
                    <input type="hidden" name="qna_id">
                </div>
                <div class="question">
                    <input id="title" type="text" name="title" placeholder="문의 제목">
                </div>
                <div class="question">
                    <textarea id="content" name="content" placeholder="문의내용을 입력하세요" rows="15" cols="200"></textarea>
                </div>
                <div th:if="${session.loginDTO != null and session.loginDTO.getUser_id() == 'admin' and session.loginDTO.getPwd() == '1234' }">
                    <a class="wirte" th:href="|javascript:fn_qnaForm(${session.isLogOn}, '/notice/qnaForm.do', '/login/loginForm.do')|">답변쓰기</a>
                    <div class="question">
                        <textarea id="answer" placeholder="문의 내용에 대한 답글을 입력하세요" rows="5" cols="100"></textarea>
                    </div>
                </div>
                <div class="question-button">
                    <input type="submit" value="등록">
                    <input type="button" value="취소" onclick="backToList_qna()">
                </div>
            </form>
        </div>
    </div>
    <script src="js/jquery-3.7.1.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/search.js"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/sweetalert2@11}"></script>
</th:block>
</body>
</html>

