<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>카테고리</title>
</head>
<link rel="stylesheet" type="text/css" href="css/category.css">
<body>
    <div class="category_down">
        <header>
            <h1>
                <a href="#메뉴로">
                    <img src="로고 이미지" alt="팝업데이 카테고리">
                </a>
            </h1>
            <a href="로그인 페이지로 이동">로그인</a>
        </header>
        <ul class="category_box">
            <li>
                <a href="팝업 검색창">
                    POPUP
                    <span>팝업검색</span>
                </a>
            </li>
            <li>
                <a href="이벤트창">
                    EVENT
                    <span>이벤트</span>
                </a>
            </li>
            <li>
                <a href="공지사항창">
                    notice
                    <span>공지사항</span>
                </a>
            </li>
            <li>
                <a href="Q&A창">
                    Q&A
                    <span>질문&답변</span>
                </a>
            </li>
            <li>
                <a href="FAQ창">
                    FAQ
                    <span>자주 묻는 질문</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="businessperson_category">
        <ul>
            <li>
                <a href="사업자 문의 창">사업자 문의</a>
            </li>
            <li>
                <a href="사업자 팝업 등록 창">팝업 등록</a>
            </li>
            <li>
                <a href="사업자 팝업 수정 창">팝업 수정</a>
            </li>
        </ul>
    </div>
</body>
</html>