<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/setting.css}">
    <title>설정페이지</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="body">
        <div class="containers">
            <div class="setting_title">
                <a href="#"><img th:src="@{/images/ltr.svg}" alt="뒤로가기"></a>
                <h1>설정</h1>
                <img th:src="@{/images/setting.svg}" alt="설정아이콘">
            </div>
            <div class="setting_info">
                <h2>내 정보</h2>
                <ul>
                    <li>회원 정보 수정</li>
                    <li>비밀 번호 수정</li>
                </ul>
            </div>
            <div class="under_bar"></div>
            <div class="setting_info">
                <ul>
                    <li>로그 아웃</li>
                    <li>회원 탈퇴</li>
                </ul>
            </div>
        </div>
    </div>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{js/jquery-ui.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js}" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js}" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script th:src="@{/js/search.js}"></script>
</th:block>
</body>
</html>