<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
</head>
<style>
    img {
        display: block;
        margin: 0 auto;
    }
    .error-info {
            text-align: center;
            font-size: 24px;
            font-weight: 600;
    }

    
</style>
<body>
    <div class="py-5 text-center">
    </div>
    <div class="error-info">
        <h2>아직 개발중인 부분입니다</h2>
        <p>개발이 완료되지않아 진행이 불가능한 부분입니다. 메인페이지로 다시 이동해주세요</p>

        <a th:href="@{/main.do}">메인페이지로 돌아가기</a>
    </div>

</body>
</html>