@charset "utf-8";
h2 {
    text-align: center;
    font-size: 1.8em;
    margin: 20px 0 0;
}
.notice-form {
    background-color: white;
    width: 720px;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.notice-form .select {
    margin: 10px 80px 0;
}
.notice-form label {
    margin: 0 20px;
}
.notice-form select {
    padding: 5px;
}
.notice {
    margin: 0 auto;
}

.notice input {
    width: 500px;
}

.notice textarea {
    min-width: 500px;
    max-width: 500px;
    resize: none;
}

.notice-button {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}

.notice-button button {
    border: 1px solid #ccc;
}