body {
    overflow: hidden;
    overflow-y: scroll;
    height: 650px;
    width: 1440px;
    margin: 0 auto;
}

.admin_container{
    float: left;
    padding-top: 50px;
    margin: 30px auto;
    background-color: #8B8BDA;
    width: 712px;
    min-height: 910px;
    max-height: 1600px;
    position: fixed;
    top: 0;
}

#category_box, #businessperson_box {
    padding: 50px 20px;
}

#category_box>li>a {
    font-size: 45px;
}

.admin_container h2 {
    font-size: 1.8em;
    color: white;
    margin: 30px;
}

.admin_container ul {
    list-style: none;
    margin: 35px;
}
.admin_container ul a {
    font-size: 1.8em;
    color: #FDFEFF;
    text-decoration: none;

}
.admin_container ul a:hover {
    font-size: 2.0em;
    color: #4B4B65;
    text-decoration: none;
}
.admin_container ul li {
    margin-bottom: 20px;
}
.admin_container .logout {
    display: flex;
    margin: 230px 35px 30px;
}
.admin_container .logout a {
    text-decoration: none;
}
.admin_container .logout img {
    width: 50px;
    height: 50px;
    margin-left: 30px;
}
.admin_container .logout h5 {
    font-size: 1.5em;
    color: #FDFEFF;
    margin: 5px 10px 10px;
}
#frames {
    float: right;
    margin: 0 auto;
    background-color: #F9F8FF;
    width: 730px;
    height: 940px;
}

#admin_header {
    width: 1440px;
}

header {
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #8B8BDA;
    width: 720px;
    height: 40px;
    z-index: 9999;
}

header >img {
    position: absolute;
}
.logo {
    margin-left: 25px;
    margin-top: 15px;
    height: 30px;
    width: 160px;
}

.admin_home {
    overflow: hidden;
}

footer{
    display: none;
}

#search-banner {
    display: none;
}

.user {
    display: none;
}

.admin-header {
    position: absolute;
    top: 0;
    left: 360px;
}
#container-admin {
    position: relative;
}

.admin-body {
    overflow-y: hidden;
}