/*#1 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*#2 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*#3 */
button {
    /* button 요소에 기본적으로 설정되는 스타일 속성 초기화 */
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

/*#4
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #8F8CB8;
}*/
/*#5 */
.wrapper {
    height: 365px;
    width: 360px;
    background: #fff;
    border-radius: 10px;
    padding: 5px;
    margin: 20px;
}

/*#6*/
.wrapper .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}
.wrapper .nav .current-date {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}
.wrapper .nav button {
    width: 38px;
    height: 38px;
    font-size: 30px;
    color: #878787;
}
/*#7*/
.calendar ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 10px;
}
.calendar .weeks li {
    font-weight: 500;
}
.calendar .days {
    font-size: 15px;
    margin-bottom: 10px;
}
.calendar ul li {
    /*#8*/
    width: calc(90% / 7);
    /*#9*/
    position: relative;
}
.calendar .days li {
    /*#10*/
    z-index: 1;
    margin-top: 20px;
    cursor: pointer;
}

/*#11*/
.days li.inactive {
    color: #aaa;
}
.days li.active {
    color: #fff;
}
.calendar .days li::before {
    position: absolute;
    content: '';
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
}
.days li:hover::before {
    background: #f2f2f2;
}
.days li.active::before {
    background: #008aff;
}

