@charset "utf-8";
.category {
    display: inline-block;
}

.category > a {
    color: white;
    font-size: 15px;
}

.category-info {
    width: 720px;
    height: calc(99vh - 110px);
    display: none;
    position: absolute;
    bottom: 70px;
    left: 0;
    background-color: #F9F8FF;
    z-index: 4;

}

#category_box>a {

    text-decoration: none;
    text-align: center;
    color: black;
}

#category_box>li>div>a {
    padding-top: 20px;
    font-family: 'Do Hyeon';
    font-size: 24px;
    font-weight: 900;
    color: black;
}

#category_box>li>a {
    font-family: 'Do Hyeon';
    font-size: 55px;
    font-weight: 900;
    color: black;
    cursor: pointer;
}

#category_box>li>a>span {
    font-family: 'Do Hyeon';
    margin-top: 10px;
    font-size: 24px;
}

#businessperson_box>li>a, #admin_box>li>a {
    font-family: 'Do Hyeon';
    font-size: 30px;
    font-weight: 800;
    text-decoration: none;
    color: black;
}
#category_box{
    list-style: none;
    padding: 30px 20px;
    margin: 0;
    color: black;
}

#businessperson_box, #admin_box {
    list-style: none;
    padding: 20px;
    margin: 0;
    color: black;
}

#category_box a , #businessperson_box a, #admin_box a {
    display: flex;
    gap: 15px;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}


#businessperson_box>li, #admin_box>li {
    margin-bottom: 10px;
}

#category_box>li a:hover {
    color: #8B8BDA;
}
#businessperson_box li a:hover {
    color: #8B8BDA;
}
#admin_box li a:hover {
    color: #8B8BDA;
}
.category-info_login {
    text-decoration: none;
    text-align: right;

}
.category-info_login a {
    color: black;
    text-align: right;
    padding-left: 300px;
}

@media (max-height: 900px) {

    #category_box>li>a {
        font-size: 30px;
    }

    #category_box {
        padding: 20px 20px 0;
        /*height: calc(120vh - 110px);*/
    }

    #businessperson_box, #admin_box {
        padding: 10px 20px;
    }

    #businessperson_box>li>a, #admin_box>li>a {
        font-size: 25px;
    }

}

@media (max-height: 600px) {
    #category_box>li>a {
        font-size: 20px;
    }
    #businessperson_box>li>a, #admin_box>li>a {
        font-size: 20px;
    }

    #category_box>li>a>span {
        font-size: 20px;
    }

    #category_box>li>div>a {
        font-size: 20px;
    }
}