@charset "utf-8";
.category {
    display: inline-block;
}

.category > a {
    color: white;
    font-size: 15px;
}

.category-info {
    display: none;
    position: absolute;
    bottom: 70px;
    left: 165px;
    background-color: rgba(0, 0, 0, 0.5);
}

.category_box>a {
    text-decoration: none;
    text-align: center;
    color: black;
}
.category_box>li>a {
    font-size: 20px;
    font-weight: 800;
    color: black;
}
.businessperson_box>li>a {
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
    color: black;
}
.category_box, .businessperson_box {
    list-style: none;
    padding: 20px;
    margin: 0;
    color: black;
}
.businessperson_box>li {
    margin-bottom: 10px;
}

.category_box>li::after {
    display:block;/*a요소를 블록 요소라고 선언*/
    content: '';
    border-bottom: solid 2px #fff;
    transform: scaleX(0);/*크기를 0으로 줌으로써 평상시엔 밑줄 없음*/
    transition: transform 250ms ease-in-out; /*변형 방식*/
}
.category_box>li:hover:after {
    transform: scaleX(1);/*a 속성에 hover시 기존 크기로*/
}
ul li a:hover {
    color: #8B8BDA;
}
