@charset "utf-8";
.category {
    display: inline-block;
}

.category > a {
    color: white;
    font-size: 15px;
}

.category-info {
    width: 720px;
    height: 83vh;
    display: none;
    position: absolute;
    bottom: 70px;
    left: 0;
    background-color: #F9F8FF;
}

#category_box>a {
    text-decoration: none;
    text-align: center;
    color: black;
}

#category_box>li>a {
    font-family: 'Do Hyeon';
    font-size: 55px;
    font-weight: 900;
    color: black;
}

#category_box>li>a>span {
    margin-top: 10px;
    font-size: 24px;
}

#businessperson_box>li>a {
    font-size: 30px;
    font-weight: 800;
    text-decoration: none;
    color: black;
}
#category_box, #businessperson_box {
    list-style: none;
    padding: 20px;
    margin: 0;
    color: black;
}

#category_box a , #businessperson_box a {
    display: flex;
    gap: 15px;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}

#businessperson_box>li {
    margin-bottom: 10px;
}

#category_box>li::after {
    display:block;/*a요소를 블록 요소라고 선언*/
    content: '';
    border-bottom: solid 2px #8B8BDA;
    transform: scaleX(0);/*크기를 0으로 줌으로써 평상시엔 밑줄 없음*/
    transition: transform 250ms ease-in-out; /*변형 방식*/
}
#category_box>li:hover:after {
    transform: scaleX(1);/*a 속성에 hover시 기존 크기로*/
}
#businessperson_box li a:hover {
    color: #8B8BDA;
}
