@charset "utf-8";
.category_logo a {
    font-weight: bold;
    text-decoration: none;
    color: #8B8BDA;
}
.category_down ul li a {
    text-decoration: none;
    color: black;
}
.category_box>a {
    text-decoration: none;
    text-align: center;
    color: black;
}
.category_header_a {
    float: right;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.category_down ul li {
    margin-bottom: 20px;
}
.category_down, .businessperson_box {
}
.category_box>li>a {
    font-size: 30px;
    font-weight: bold;
}
.category_box, .businessperson_box {
    list-style: none;
    padding: 20px;
}
.businessperson_box>li {
    margin-bottom: 20px;
}
.businessperson_box>li>a {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.category_box>li {
}
.category_box>li::after {
    display:block;/*a요소를 블록 요소라고 선언*/
    content: '';
    border-bottom: solid 2px #fff;
    transform: scaleX(0);/*크기를 0으로 줌으로써 평상시엔 밑줄 없음*/
    transition: transform 250ms ease-in-out; /*변형 방식*/
}
.category_box>li:hover:after {
    transform: scaleX(1);/*a 속성에 hover시 기존 크기로*/
}
ul li a:hover {
    color: #8B8BDA;
}
