* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto','Noto Sans KR','Do Hyeon';
}
a {
    font-weight: 500;
    text-decoration: none;
    color: black;
}
.body a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.body a:hover {
    color: #8F8CB8;
}

header {
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #8B8BDA;
    width: 720px;
    height: 40px;
    z-index: 9999;
}

header >img {
    position: absolute;
}

.logo {
    margin-left: 20px;
    height: 30px;
    width: 160px;
}

.user {
    height: 20px;
    width: 20px;
}

.naming-bar {
    display: flex;
    gap: 5px;
    height: 30px;
    align-items: center;
}

.naming-bar > p {
    margin: 0;
}

.images {
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
}

.images>div{
    width: 720px;
    margin-right: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    height: 40px;
    flex-direction: row-reverse;
}

.containers {
    padding-top: 93px;
    padding-bottom: 10px;
    margin: 0 auto;
    background-color: #F9F8FF;
    width: 720px;
    min-height: 1700px;
    height:calc(100vh - 100px);
    max-height: 5000px;
}


.slidimg {
    height: 300px;
}

.up {
    position: absolute;
    bottom: 130px;
    right: 48px;
}

.arrow_up {
    height: 40px;
    z-index: 99;
    position: fixed;
    background-color:white;
    padding: 5px;
    border: 2px solid black;
    border-radius: 999px;
}

footer {
    margin: 0 auto;
    width: 720px;
    border-top: 3px solid #8F8CB8;
    background-color: #F9F8FF;
    padding: 10px 0 60px;
}

.under_info {
    padding-top: 10px;
}

.under_info a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.under_info a:hover {
    color: #8F8CB8;
}

.under_info > p {
    padding: 20px;
}

.under_info >ul {
    display: flex;
    list-style:none;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 10px
}
ul {
    display: block;
}
.under_fix {
    position: fixed;
    z-index: 98;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 720px;
    height: 70px;
    display: flex;
    justify-content: center;
    background-color: #8B8BDA;
}

.under_fix a {
    text-decoration: none;
}

.under_fix .css-footer-buttons {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

img {
    height: 30px;
    overflow: clip;
    color: #fff;
}

.under_fix .css-footer-buttons > a > span {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}

.under_fix .css-footer-buttons a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
/* 검색창 js css */
.search {
    display: flex;
    background-color: #F9F8FF;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.search > input {
    border: 1px solid #ccc;
    width: 650px;
    height: 28px;
}
/* 헤더부분 */
.popup li {
    padding: 3px;
}
li::marker { color: #8F8CBB; }

.pDiv ul {
    gap: 5px;
    list-style: square;
    display: block;
}
.pDiv {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.pDiv h2 {
    font-size: 20px;
    font-weight: 600;
    padding: 3px;
    padding-left: 10px;
    color: #5a5a5a;

}

.popup, .detailed-search {
    display: flex;
    flex: 1;
    margin: 0 10px;
    flex-direction: column;
}


.search-info {
    display: none;
    background: rgba(249, 248, 255, 0.8);
    height: calc(97vh - 103px);
}

.search > button {
    border: none;
    height: 28px;
}

.search img {
    width: 28px;
    height: 28px;
}