@charset "utf-8";
/*검색, 공지사항*/

.contentFAQ {
    margin: 0 auto;
    background-color: #F9F8FF;
    width: 720px;

}

.search {
    padding-top: 40px;
    height:auto;
    text-align: center;
}

.search form {
    display: inline-block;
}

.search input[type="text"] {
    vertical-align: middle;
}

.search input[type="text"] {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    width: 650px; /* 필요에 따라 너비 조정 */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.input-wrapper {
    position: relative;
    display: inline-block;
}

.input-wrapper input {
    padding-right: 30px; /* 이미지 너비 + 오른쪽 여백 */
}

/*돋보기*/
.input-wrapper img {
    position: absolute;
    top: 40%;
    right: 30px; /* 조정 필요한 경우 여백 조절 */
    transform: translateY(-10%);
    width: 20px; /* 이미지의 너비 */
    height: auto; /* 높이 자동 조정 */
}

/*공지사항 전체틀*/
.submenu-wrap {
    padding-top: 0; /* 상단 여백 제거 */
    margin-top: 0;
    height: 150px; /* 필요한 경우 높이 조정 */
    background-color: #F9F8FF;
    text-align: center;
    position: relative;
}

#submenu {
    padding-top: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #8B8BDA;
    width: 720px;
    height: 40px;
    display: flex; /* Flexbox 사용 */
    justify-content: center; /* 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}

.submenu-wrap a {
    display: inline-block;
    text-align: center;
    padding: 0 10px; /* 좌우 패딩 추가 */
    border-right: 3px white solid;
    line-height: 40px; /* a 태그 높이와 맞추기 위해 사용 */
}

.submenu-wrap a:last-child {
    border-right: none; /* 마지막 a 태그의 border-right 제거 */
}

.submenu-wrap h2 {
    margin: 0px 48px;
}

/* h2 태그들이 submenu 안에서 가운데 가로정렬 배치 */
#submenu h2 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.submenu-wrap a:hover h2 {
    color: white; /* 원하는 색상으로 변경 */
}

/* 공지사항 상세페이지 */
/*공지메뉴별로 class바꿔서 넣어줘야함*/
.fnq {
    color: white;
}
.contact2-wrap ul {
    box-sizing: border-box;
}
.contact2-wrap> div {
    display: block;
    unicode-bidi: isolate;
}
.faq-list-wrap {
    width: 100%;
    padding: 0 20px;
}
.faq-list-wrap ul {
    text-align: left;
    padding-right: 20px;
    align-items: flex-start;
    font-size: 22px;
    flex-direction: column;
    position: relative;
}
.faq-list-wrap li {
    width: 100%;
}
.faq-category {
    font-size: 18px;
    color: #ccc;
}

.faq-category span {
    float: left;
}

#toggle0, #toggle1, #toggle2  {
    margin-right: 40px;
    float: right;
}

.answer {
    width: 85%;
    margin: 5px;
    padding: 20px;
    background-color: #e1dfdf;
}
/*페이지설정*/
.page-area {
    padding-top: 0; /* 상단 여백 제거 */
    margin-top: 0;
    height: 300px;/* 필요한 경우 높이 조정 */
    background-color: #F9F8FF;
    text-align-last: auto;
    position: relative;
    display: flex;
    justify-content: center; /* 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}


