@charset "utf-8";
/*검색, 공지사항*/
.content {
    margin: 0 auto;
    background-color: #F9F8FF;
    width: 720px;
    height: auto;
}

.search {
    padding-top: 40px;
    height:auto;
    text-align: center;
}

.search form {
    display: inline-block;
}

.search input[type="text"] {
    vertical-align: middle;
}

.search input[type="text"] {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    width: 650px; /* 필요에 따라 너비 조정 */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.input-wrapper {
    position: relative;
    display: inline-block;
}

.input-wrapper input {
    padding-right: 30px; /* 이미지 너비 + 오른쪽 여백 */
}

/*돋보기*/
.input-wrapper img {
    position: absolute;
    top: 40%;
    right: 30px; /* 조정 필요한 경우 여백 조절 */
    transform: translateY(-10%);
    width: 20px; /* 이미지의 너비 */
    height: auto; /* 높이 자동 조정 */
}

/*공지사항 전체틀*/
.submenu-wrap {
    padding-top: 0; /* 상단 여백 제거 */
    margin-top: 0;
    height: 60px; /* 필요한 경우 높이 조정 */
    background-color: #F9F8FF;
    text-align: center;
    position: relative;
}

#submenu {
    padding-top: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #8B8BDA;
    width: 720px;
    height: 40px;
    display: flex; /* Flexbox 사용 */
    justify-content: center; /* 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}

.submenu-wrap a {
    display: inline-block;
    text-align: center;
    padding: 0 10px; /* 좌우 패딩 추가 */
    border-right: 3px white solid;
    line-height: 40px; /* a 태그 높이와 맞추기 위해 사용 */
}

.submenu-wrap a:last-child {
    border-right: none; /* 마지막 a 태그의 border-right 제거 */
}

.submenu-wrap h2 {
    margin: 0px 48px;
}

/* h2 태그들이 submenu 안에서 가운데 가로정렬 배치 */
#submenu h2 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.submenu-wrap a:hover h2 {
    color: white; /* 원하는 색상으로 변경 */
}

/* review 상세페이지*/
.review {
    color: white;
}

.reviewlist {
    display: flex;
    top: 50px;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 45px;
}

.reviewlist > a {
    display: flex;
    position: relative;
    padding: 0 10px;
    font-weight: 700;
    font-size: 16px;
    color: #b3b3b3;
    text-align: center;
    flex: 1 1;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
}

.custom-button:hover {
    color: #000; /* 호버 시 글자색 변경 */
    border-bottom: 2px solid #000; /* 호버 시 밑줄 추가 */
}
/*페이지설정*/
.page-area {
    padding-top: 0; /* 상단 여백 제거 */
    margin-top: 0;
    height: 300px;/* 필요한 경우 높이 조정 */
    background-color: #F9F8FF;
    text-align-last: auto;
    position: relative;
    display: flex;
    justify-content: center; /* 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}


