@charset "utf-8";
/**후기후기후기후기ㅣ기************************/
.reviewlist {
    display: flex;
    top: 50px;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 45px;
}

.reviewlist > a {
    display: flex;
    position: relative;
    padding: 0 10px;
    font-weight: 700;
    font-size: 16px;
    color: #b3b3b3;
    text-align: center;
    flex: 1 1;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
}

.custom-button:hover {
    color: #000; /* 호버 시 글자색 변경 */
    border-bottom: 2px solid #000; /* 호버 시 밑줄 추가 */
}
/*후기작성공간, 후기가이드*/
.myreview {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 10px 70px 10px;
}
.input-wrapper-review {
    display: flex;
    align-items: center;
}

.input-wrapper-review textarea {
    width: 500px;
    height: 30px;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
    text-align: center;
    align-content: center;
}

.input-wrapper-review button {
    background-color: #D9D9D9;
    width: 100px;
    height: 50px;
    padding: 8px;
    border: none;
    cursor: pointer;
    margin-left: 10px; /* 버튼과 텍스트 입력창 사이의 간격 설정 */
}

.myreview button:hover {
    background-color: #FEFEDF;
}

.myreview button[type="submit"] {
    background-color: #8B8BDA;
    color: white;
}

.reviewguide {
    padding: 30px 20px 30px 20px;
    font-weight: 400;
    font-size: 16px;
    box-sizing: border-box;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.reviewguide li:last-child {
    border-bottom: none;
}
.reviewguide  h3 ul  {
    width: 100%;
}

.reviewguide h3 {
    padding: 20px 20px 10px 20px ;
    text-align: left;
}

.reviewguid-list {
    display: flex;
    padding: 00px 20px 10px 20px ;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.myreview-history {
    padding: 90px;
}
.ball {
    padding: 50px;
}