@charset "utf-8";
a {
    text-decoration: none;
    text-align: center;
    color: black;
    margin-top: 100px;
    padding-top: 100px;
}
.login {
    text-align: center;
    padding: 20px;
}
.join {
    text-align: center;
    padding-bottom: 20px;
}
button {
    width: 100px;
    height: 40px;
    border: none;
}