@charset "utf-8";
.joinMain>a>h2{
    text-decoration: none;
    text-align: center;
    color: black;
    margin-top: 0;
    padding-top: 40px;
}
.join {
    text-align: center;
    margin: 30px auto;
}
.join > p {
    margin-bottom: 40px;
}
.join > button {
    width: 100px;
    height: 40px;
    border: none;
}

.login_banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containers {
    min-height: 500px;
}