@charset "utf-8";
.login_header {
    text-decoration: none;
    text-align: center;
    color: black;
    margin-top: 70px;
    padding-top: 100px;
}
.login {
    text-align: center;
    padding: 20px;
}
.join {
    text-align: center;
    padding-bottom: 20px;
}
button {
    width: 100px;
    height: 40px;
    border: none;
}

.login_banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containers {
    min-height: 500px;
}