* {
    margin: 0;
    box-sizing: border-box;
}

header {
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #8B8BDA;
    width: 720px;
    height: 40px;
    z-index: 9999;
}

.containers {
    position: relative;
    padding-top: 40px;
    margin: 0 auto;
    background-color: #F9F8FF;
    width: 720px;
    min-height: calc(100vh - 100px);
    height: auto;
}

footer {
    margin: 0 auto;
    width: 720px;
    border-top: 3px solid #8F8CB8;
    background-color: #F9F8FF;
    padding: 10px 0 60px;
}

a:hover {
    color: #8F8CB8;
}

.under_info {
    padding-top: 10px;
}

.under_info > p {
    padding: 20px;
}

ul {
    display: flex;
    list-style:none;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 10px
}

.under_fix {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 720px;
    height: 70px;
    display: flex;
    justify-content: center;
    background-color: #8B8BDA;
}

.under_fix .css-footer-buttons {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

img {
    height: 30px;
    overflow: clip;
    color: #fff;
}

.under_fix .css-footer-buttons > a > span {
    font-size: 15px;
    font-weight: 200;
    color: #fff;
}

.under_fix .css-footer-buttons a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}