@charset "utf-8";
a>h2 {
    text-decoration: none;
    text-align: center;
    color: black;
    margin-top: 0;
    padding-top: 100px;
}
.login_box {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 300px;
    gap: 10px;
}
.containers {
    min-height: 500px;
}
.login_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}