@charset "utf-8";

/*회원정보수정 메인 타이틀*/
.main_title {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;

}
.main_title img {
    margin: 0 10px; /* 이미지와 텍스트 사이의 간격 조정 */
    width: 30px;
    height: 30px;
}

/*프로필변경*/
.joinmodify {
    padding-top: 10px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.joinmodify img {
    width: 80px;
    height: 80px;
    transition: transform 0.2s ease-in-out;
}

.joinmodify p {
    margin-top: 10px ;
    font-size: 22px;
    font-weight: bold;
    transition: transform 0.2s ease-in-out;
}

.joinmodify:hover img {
    filter: brightness(0.8);
}

.joinmodify:hover p {
    cursor: pointer;
    font-weight: bolder;
    font-size: 25px;
}

/*닉네임,이름,이메일*/
#loginModifyForm {
    text-align: left; /* 내부 요소 가운데 정렬 */
    display: flex;
    flex-direction: column; /* 요소들을 세로로 배치 */
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

#loginModifyForm p {
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    margin-inline-end: auto;
}

#loginModifyForm button {
    font-size: 0.8em;
    padding: 2px 6px;
    margin-bottom: 10px;
}

#loginModifyForm input[type="text"],
#loginModifyForm input[type="name"],
#loginModifyForm input[type="email"],
#loginModifyForm input[type="submit"] {
    background-color: #D9D9D9;
    width: 550px;
    height: 40px;
    padding: 8px;
    margin-bottom: 15px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

#loginModifyForm input:hover {
    background-color: #FEFEDF;
    border: none;
}

#loginModifyForm input[type="submit"] {
    font-size: 25px;
    font-weight: bold;
    width: 567px;
    height: 57px;
    margin-top: 35px;
}

#loginModifyForm input[type="submit"]:hover {
    background-color: #8B8BDA;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.containers {
    min-height: 900px;
}


