@charset "utf-8";
a>h2 {
    font-size: 35px;
    text-align: center;
    color: black;
    margin-top: 0;
    padding-top: 40px;
}
.login-submit {
    box-shadow: 0px 0 3px #8B8BAE;
    width: 640px;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    margin: 60px auto;
    height: 650px;
}

.loginMain a {
    text-decoration: none;
}
.login_box {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}
.loginText>input{
    padding: 20px 10px;
    margin: 10px;
    height: 60px;
    width: 400px;
    font-size: 16px;
}
.loginButton {
    margin-top: 10px;
}
.loginButton>input {
    margin: 0 10px;
    width: 400px;
    height: 50px;
    padding: 10px 5px;
    font-size: 20px;

}
.loginBack>a>img {
    margin: 15px;
    width: 35px;
    height: 35px;
}
.loginButton a {
    cursor: pointer;
    margin: 5px;
    text-decoration: none;
    color: black;
    border-right: 1px solid #ccc;
    padding-right: 10px;
}
.loginButton a:hover {
    color: #8B8BDA;
}

.loginButton .choice-form {
    border-right: 0;
    padding-right: 0;
}

.join>button {
    width: 100px;
    color: black;
    padding: 10px 5px;
    margin-left: 250px;

}
.kakaoLogin img {
    margin-left: 220px;
    margin-bottom: 10px;
    margin-top: -10px;
    height: 40px;
}

.images {
    padding-top: 4px;
}