
.popimages {
    height: 300px;
}

.hash_tags {
    margin: 40px auto 20px;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hash_tag {
    background-color: #FEFEDF;
    border: 2px solid #8B8BDA;
    padding: 5px 8px;
    border-radius: 30px;
    font-size: 15px;
}

.popup_images {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.popup_images > span{
    position:relative;
    width: 150px;
    height: 180px;
    background-color: #ccc;
    display: inline-block;
}

.popup_images .zzem {
    position: absolute;
    top: 2px;
    right: 3px;
}

.popup_more {
    background-color: #8B8BDA;
    padding: 5px 40px;
    border-radius: 3px;
    font-size: 15px;
}
.popup_more_link > .popup_more{
    color: white;
}

.popup_more_link > .popup_more:hover {
    color: black;
}

.popup_more_link {
    margin: 35px auto;
    text-align:center;
}

.link_baro {
    font-size: 19px;
    margin: 17px;
    display: flex;
    padding: 20px;
    height: 50px;
    width: 300px;
    background-color: #FEFEDF;
    justify-content: space-between;
    align-items: center;
}

.info {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 25px;
}
.eventbanner {
    display: inline-block;
}
.quick-link {
    display: inline-block;
    margin: 30px 0;
}

.event {
    width: 300px;
    height: 250px;
}
section{
    position: relative;
    width: 680px;
    margin: 0 auto;
    background-color: #8B8BDA;
    border-radius: 20px;
}

#card {
    position: absolute;
    width: 319px;
    height: 365px;
    top: 0;
    right: 0;
    border-radius: 1.25rem;
}

#button {
    position: absolute;
    bottom: -45px;
    left: 250px;
}

#calendar {
    height: 550px;
}

