@charset "utf-8";
h2 {
    text-align: center;
    font-size: 1.8em;
    margin: 20px 0;
}
.popCount {
    margin: 20px 0 20px 20px;
}
/* 회원 관리 */
table {
    border: 1px #4B4B65 solid;
    text-align: center;
    width: 920px;
    margin: 15px 10px 30px;
    border-spacing: 0;
    border-top: none;
}
tr {
    text-align: center;
}
th {
    border: 1px #4B4B65 solid;
    border-left: none;
}
tr .del {
    border-right: none;
}
td {
    background-color: white;
}

table .tr_title {
    background-color: #FDFEFF;
}
tr h4 {
    color: #4B4B65;
    font-size: 1.3em;
    text-align: center;
    margin: 15px;
}
.target {
    color: #005cbf;
    font-weight: bold;
    font-size: 1.1em;
}
.noLine {
    /*color: black;*/
    font-weight: normal;
    font-size: 1em;
}
/* 추가해야하는 css */

.containers {
    float: right;
    width: 940px;
}
header {
    width: 1440px;
}

.admin_container {
    width: 500px;
    position: relative;
}

.images > div {
    width: 1440px;
}
