@charset "utf-8";
h2 {
    font-size: 1.8em;
    margin: 20px 0 20px;
}
.main_title {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    align-items: center;
}
. main_title a {
    margin: 8px 0 0 10px;
}
.main_title img {
    margin: 4px 10px; /* 이미지와 텍스트 사이의 간격 조정 */
    width: 30px;
    height: 30px;
}
.all {
    display: flex;
    margin: 10px 0 20px 30px;
}
.all p {
    color: #4B4B65;
    margin-right: 520px;
}

/* 찜한 팝업이 없을 때 */
h4 {
    color: #8F8CB8;
    font-size: 1.5em;
    text-align: center;
    margin-top: 30px;
}
/* 찜한 팝업이 있을 때 */
form {
    margin: 20px;
    background-color: #FDFEFF;
    position: relative;
}
fieldset {
    /*display: flex;*/
    padding: 15px;
}
form .pop {
    display: flex;
}
form .popImg {
    width: 180px;
    height: 180px;
    margin-right: 10px;
}
form .popImg img {
    height: 180px;
}
/*form .Acc {*/
/*    margin-right: 138px;*/
/*}*/
form .popAcc {
    display: flow;
    margin-top: 20px;
    margin-left: 10px;
}
form .popAcc h5 {
    font-size: 1.5em;
    padding: 10px 0;
}
form .popAcc p {
    font-size: 1.2em;
    margin: 10px 20px 10px 5px;
}
form .tags {
    display: flex;
}
form .tags .tag{
    border-radius: 30px;
    border: 2px #8B8BDA solid;
    background-color: #FEFEDF;
    padding: 6px 12px;
    margin-right: 15px;
}
form .popIcon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

