
.individual_join {
    text-decoration: none;
    text-align: center;
    color: black;
    margin-top: 0;
    padding-top: 50px;
}
table {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    border-spacing: 20px;

}
.checkboxGroup{
    text-align: center;
    padding-bottom: 30px;
}
.individual_last{
    text-align: center;
    padding-bottom: 30px;
}
.terms {
    border: 1px solid black;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    overflow-y: scroll;
    width: 400px;
    height: 100px;
    margin-bottom: 30px;
}
.individual_last > input {
    padding: 7px 13px;
    margin: 0 10px;
    font-size: 14px;
    font-weight: 600;
    background-color: #8B8BDA;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.join-tbl input {
    font-size: 18px;
    padding-left: 5px;
}
