@charset "utf-8";
h2 {
    font-size: 1.8em;
    margin: 20px 0 20px 30px;
}
h3 {
    font-size: 1.3em;
    margin: 20px 0 20px 30px;
}
.all {
    display: flex;
    margin: 20px 0 20px 30px;
}
.all p {
    color: #d9d9d9;
    margin-right: 520px;
}
.all button {
    color: #d9d9d9;
    border: 1px #d9d9d9 solid;
}

/* 찜한 팝업이 없을 때 */
h4 {
    color: #8F8CB8;
    font-size: 1.5em;
    text-align: center;
    margin-top: 30px;
}
/* 찜한 팝업이 있을 때 */
form {
    margin: 20px;
}
fieldset {
    display: flex;
    justify-content: space-between;
}
form .field1 {
    display: flex;
}
form .popImg {
    width: 150px;
    height: 180px;
}
form .popImg img {
    width: 150px;
    height: 180px;
}
form .field2 {
    display: flow;
}
form .popAcc h5 {
    font-size: 1.6em;
}
form .popAcc p {
    font-size: 1.2em;
}
form .tags {
    display: flex;
    list-style: none;
}
form .tags .tag{
    border-radius: 30px;
    border: 1px #8B8BDA solid;
    background-color: #FDFEFF;
}
form .popIcon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}