/* 전체 컨테이너 스타일 */
/*.containers {*/
/*    max-width: 1200px;*/
/*    margin: 0 auto;*/
/*    padding: 20px;*/
/*}*/

/*!* 제목 영역 스타일 *!*/
/*.main_title {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    margin-bottom: 20px;*/
/*}*/

/*.main_title h2 {*/
/*    flex-grow: 1;*/
/*    text-align: center;*/
/*    font-size: 24px;*/
/*    font-weight: bold;*/
/*    color: #333;*/
/*}*/

/*!* 서브메뉴 스타일 *!*/
/*.submenu-wrap {*/
/*    margin-bottom: 20px;*/
/*}*/

/*.submenu-wrap section {*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    border-bottom: 1px solid #ddd;*/
/*}*/

/*.submenu-wrap section a {*/
/*    text-decoration: none;*/
/*    color: #555;*/
/*    padding: 10px 0;*/
/*    font-size: 18px;*/
/*}*/

/*.submenu-wrap section a h2 {*/
/*    margin: 0;*/
/*    font-size: 18px;*/
/*}*/

/*.submenu-wrap section a.active-category h2 {*/
/*    border-bottom: 2px solid #007bff;*/
/*    color: #007bff;*/
/*}*/

/* 선택 상자 스타일 */
.custom-select {
    margin-bottom: 20px;
    position: relative;
    width: 200px;
}

.custom-select select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    appearance: none;
    cursor: pointer;
}

/* 리뷰 리스트 전체를 감싸는 컨테이너 */
.review-list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

/* 각 리뷰 항목을 감싸는 요소 */
.review-item {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}
.review-rating {
    display: flex;
    gap: 4px;
    justify-content: flex-end;
}

.review-rating span .star {
    color: gold;
    font-size: 20px;
}

/* 리뷰 내용 */
.review-content {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
}

/* 리뷰 작성일 */
.review-date {
    font-size: 14px;
    color: #999;
}

/* 옵션 메뉴 버튼 및 메뉴 */
.review-options-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: relative;
    margin-top: 25px;
}

.review-options-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
}
.review-options-menu button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    border: none;
    background-color: white;
    cursor: pointer;
}
.review-options-menu button:hover {
    background-color: #f0f0f0;
}
.review-options-button:hover + .review-options-menu {
    display: block;
}
