@charset "utf-8";

/*회원정보수정 메인 타이틀*/
.main_title {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}
.main_title img {
    margin: 0 10px; /* 이미지와 텍스트 사이의 간격 조정 */
    width: 30px;
    height: 30px;
}
/*현재비밀번호, 새 비밀번호, 비밀번호 확인*/
#passwordForm {
    text-align: left; /* 내부 요소 가운데 정렬 */
    display: flex;
    flex-direction: column; /* 요소들을 세로로 배치 */
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
}

#passwordForm p {
    margin: 0 auto;
    font-size: 20px;
    margin-inline-end: auto;
    margin-bottom: 30px;
    font-weight: bold;
}

/*#passwordForm label {*/
/*    display: block;*/
/*    margin-bottom: -10px;*/
/*}*/

#passwordForm button {
    font-size: 0.8em;
    padding: 2px 6px;
    margin-bottom: 10px;
}

#passwordForm input[type="password"],
#passwordForm input[type="text"],
#passwordForm input[type="submit"] {
    background-color: #D9D9D9;
    width: 550px;
    height: 40px;
    padding: 8px;
    margin-bottom: 15px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

#passwordForm .newpwd:hover {
    background-color: #FEFEDF;
    border: none;
}

#passwordForm input[type="submit"] {
    font-size: 25px;
    width: 567px;
    height: 57px;
    margin-top: 35px;
}

#passwordForm input[type="submit"]:hover {
    background-color: #8B8BDA;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.containers {
    min-height: 800px;
}