.containers {
    position:relative;
}

.non-point {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 20%;
}

.non-point > p {
    font-size: 28px;
    font-weight: 600;
}

.non-point-adder {
   margin-top: 20px
}

.non-point-adder >button {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
}

.goods-form {
    background-color: white;
    width: 660px;
    margin: 20px auto;
    padding: 20px;
}

.goods {
    display: flex;
    flex-direction: column;
    margin: 50% 0;
}

.goods-input input {
    flex-grow: 1;
    width: 500px;
    padding: 10px;
    font-size: 18px;
    margin-left: 5px;
}

.goods label {
    width: 100px;
    flex-shrink: 1;
    font-size: 18px;
}

.goods-input {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.goods-btn {
    margin: 0 auto;
}

.goods-btn button {
    cursor: pointer;
    font-size: 16px;
    padding: 5px 15px;
    border-radius: 10px;
}

.goods-select {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    margin-bottom: 30px;
}

.goods-select span {
    display: flex;
    flex-direction: column;
}

.goods-select label {
    font-size: 18px;
}

.goods-select span >img {
    width: 200px;
    height: 150px;
}

.exchange-goods {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.exchange-goods > input{
    text-align: center;
}

.exchange-goods .image_file > img {
    height: 230px;
    width: 100%;
}

.product-count {
    padding-left: 17px;
}

.goods-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 10px;
    margin: 10px 20px;
}

.image_file {
    height:180px;
    overflow: hidden;
}

canvas {
    width: 200px;
    height: 300px;
}
/* goodsForm */
.goods-btn {
    display: flex;           /* Flexbox로 설정하여 자식 요소들을 가로로 배치 */
    flex-direction: row;     /* 가로로 정렬 */
    justify-content: center; /* 중앙 정렬 */
    gap: 10px;               /* 버튼들 간의 간격 설정 */
    margin: 20px 0px;        /* 상하 여백 설정 */
}

.goods-btn button {
    padding: 5px 15px;     /* 내부 여백을 늘려 버튼 크기 확대 */
    border: none;
    cursor: pointer;
    display: inline-block;    /* 버튼 요소들을 인라인 블록으로 설정 */
    margin: 0;                /* 개별 버튼의 상하 여백 제거 (부모 요소의 여백 사용) */
    background-color: #8B8BDA; /* 버튼 배경색 설정 */
    color: white;             /* 버튼 텍스트 색상 설정 */
    border-radius: 5px;       /* 모서리를 둥글게 설정 */
    font-size: 18px;          /* 폰트 크기를 늘려 버튼의 크기를 확대 */
    font-weight: 600;         /* 텍스트 두께 조정 */
}
.goods-btn button a {
    color: white;
}