@charset "utf-8";
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.content {
    max-width: 720px;
    margin: 0 auto;
    background-color: #F9F8FF;
}

.search-section, .popup-section {
    border-bottom: 3px solid #8F8CB8;
}

.popup-section:last-child {
    border-bottom: none;
}

.search-section, .popup-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px;
}

.popular-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px;
}

.popular-section, .search-section {
    border-top: 3px solid #8F8CB8;
}


h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #5a5a5a;
    padding-bottom: 10px;
}

.containers ul {
    display: block;
    list-style-type: none;
    padding: 0;
}

.containers ul, li {
    padding: 3px;
    margin-left: 10px;
}

.containers ul>li {
    margin-bottom: 10px;
    color: #333;
    list-style: square;

}

.popup-list {
    margin : 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.popup-item {
    position: relative;
    padding: 10px;
    flex: 1 1 calc(33% - 20px);
    box-sizing: border-box;
    text-align: center;
}

.popup-image {
    background-color: #FCEDED;
    height: 150px;
    margin-bottom: 10px;
}

.favorite {
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 13px;
}


#small-containers {
    min-height: 2000px;
}

.containers {
    overflow: hidden;
}

.pop-table-none {
    padding: 10px 20px;
}

.search-results-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
}


