@charset "utf-8";
.popTitle {
    background-color: white;
    text-align: center;
    padding: 40px;
    margin: 20px;
    border-radius: 20px;
    border: 3px solid #8B8BDA;
}

.Full>div {
    margin-bottom: 20px;
}
.popup-store {
    margin-top: 20px;
}

.popup-store > input {
    width: 400px;
    height: 30px;
}

.popAddress {
    margin-top: -20px;
}
#popupnote {
    width: 400px;
    height: 100px;
    resize: none;
    padding: 5px;
}

.popup-lists {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 10px;
}

.popimg-bg {
    background-color: #ccc;
    width: 200px;
    height: 200px;
}

.poplist-tb {
    width: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
}
.pop-title {
    margin: 20px 10px;
}

.containers {
    min-height: 1100px;

}
/* 운영시간 css */
.fillout-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    flex-direction: column;
}

.fillout-form input{
    padding: 5px 10px;
}

.operating-time > div {
    display: inline-block;
    flex-grow: 1;
}

.operating-time .times {
    margin: 10px 0;
}

.url-link, .text-fill {
    height: 30px;
    width: 350px;
}
.popup-button {
    margin-top: 20px;
}
.popup-button > button {
    font-size: 17px;
    padding: 5px 10px;
    background-color: #8B8BDA;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.hash_tag {
    background-color: #FEFEDF;
    border: 2px solid #8B8BDA;
    padding: 5px 8px;
    border-radius: 30px;
    font-size: 15px;
    width: 50px; /* 초기 너비 */
    box-sizing: content-box;
}

.popimg-bg {
    background-color: #ccc;
    width: 200px; /* 원하는 너비 설정 */
    height: 200px; /* 원하는 높이 설정 */
    overflow: hidden; /* 이미지가 div를 넘치지 않도록 숨김 */
    display: flex; /* 이미지의 정렬을 위한 flexbox 사용 */
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    position: relative; /* 이미지 절대 위치 설정을 위한 상대 위치 지정 */
}

.popimg-bg img {
    width: 100%; /* div 너비에 맞게 조정 */
    height: 100%; /* div 높이에 맞게 조정 */
    object-fit: cover; /* 이미지 비율을 유지하면서 div를 완전히 채우도록 조정 */
    position: absolute; /* 이미지 절대 위치 지정 */
    top: 0;
    left: 0;
}

/* 수정 추가 */
.file-loads {
    width: 200px;
}

#dock_file {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    justify-items: center;
}
