@charset "utf-8";
.popTitle {
    background-color: white;
    text-align: center;
    padding: 40px;
    margin: 20px;
    border-radius: 20px;
    border: 3px solid #8B8BDA;
}

.Full>div {
    margin-bottom: 20px;
}
.popup-store {
    margin-top: 20px;
}

.popup-store > input {
    width: 400px;
    height: 30px;
}

.popAddress {
    margin-top: -20px;
}
#popupnote {
    width: 400px;
    height: 100px;
    resize: none;
    padding: 5px;
}

.containers {
    min-height: 1400px;

}
/* 운영시간 css */
.fillout-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.fillout-form input{
    padding: 5px 10px;
}

.operating-time > div {
    display: inline-block;
    flex-grow: 1;
}

.operating-time .times {
    margin: 10px 0;
}

.url-link, .text-fill {
    height: 30px;
    width: 350px;
}
.popup-button {
    margin-top: 20px;
}
.popup-button > button {
    font-size: 17px;
    padding: 5px 10px;
    background-color: #8B8BDA;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.hash_tag {
    background-color: #FEFEDF;
    border: 2px solid #8B8BDA;
    padding: 5px 8px;
    border-radius: 30px;
    font-size: 15px;
    width: 50px; /* 초기 너비 */
    box-sizing: content-box;
}
