/*팝업 상세 페이지*/
.popupdetail {
    margin: 0 auto;
    background-color: #F9F8FF;
    width: 720px;
    height: 100%;
    overflow: hidden;
    padding: 20px 25px;
}

/*이미지슬라이드*/
.popupdetail-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden; /* 가로 스크롤 비활성화 *
    scroll-snap-type: x mandatory; /* 스크롤 스냅 기능 활성화 */
}
.popupdetail-banner {
    display: flex;
    scroll-snap-align: center; /* 스크롤 스냅 포인트 정렬 설정 */
}
.popupdetail-banner img {
    display: flex;
    width: 100%;
    height: 400px;
    padding-bottom: 10px;
    margin: 0 10px; /* 이미지 사이 간격 조정 */
    cursor: pointer; /* 포인터 커서로 변경 */
}

.main-article {
    overflow: hidden;
    width: 650px;
    height: 400px;
}

/*
.popupdetail-banner .banner-img {
    flex: 0 0 auto;  이미지 크기 고정
margin-right: 10px; 이미지 사이 간격 조정
cursor: pointer; 포인터 커서로 변경
}*/

/* 팝업 정보 */
.popupdetail-inner {
    border-bottom: 1px solid #ccc;
}
.popupdetail-title {
    margin: 0;
    padding: 0;
}

.popupdetail-title ul {
    padding: 0;
}
.popupdetail-title li {
    display: flex;
    flex-direction: row;
}

.popupdetail-title img {
    width: 20px;
}
.popup-catagory {
    padding: 5px;
}
/* 상세보기된 팝업 정보 */
.popup-title {
    display: flex;
    justify-content: space-between;
}

.popup-title > div {
    width: 100%;
    display: flex;
    flex-direction: column;
}
#heart-image {
    width: 35px;
    height: 35px;
    margin: 4px 10px;
}

.search-icon {
    display: flex;
    margin: 15px 10px 5px;
    padding-bottom: 15px;
    justify-content: space-between;
}
.date, .location {
    display: flex;
    font-size: 15px;
}
.date img, .location img {
    margin: 5px;
}
.date p, .location p {
    margin: 10px;
}

.popup-Icon {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 17px;

}

.popup-Icon img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

/* 리뷰보러가기
.see-review {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0;
    border-bottom: 1px solid black;
    flex-wrap: nowrap;
}
.see-review-v li{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
}

.see-review img {
    width: 20px;
} */
/* 주차 입장료 여부 */
.popupdetail-icon-area {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    border-bottom: 1px #ccc solid;
    text-align: center;
    align-items: center;
}
.popupdetail-icon-area img {
    width: 80px;
    margin-top: 10px;
}
/* 운영시간 */
.popupdetail-time {
    display: flow;
    padding: 15px;
    border-bottom: 1px #ccc black;
}
.popupdetail-time .popup-time {
    display: flex;
}
.popupdetail-time ul {
    display: flow;
}
.popupdetail-time-a img {
    padding-left: 10px;
}

/* 화살표 이미지 */
.open {
    margin-left: 10px;
    width: 25px;
    height: 25px;
}
/* 팝업스토어 소개글*/
.popupdetail-info-inner, .popupdetail-caution, .popupdetail-map {
    border-bottom: 1px #ccc solid;
    padding: 15px;
}
.infor-tit {
    padding-bottom: 10px;
}

/* 주변 카페 및 놀거리*/
.popupdetail-play {
    border-bottom: 1px #ccc solid;
    padding: 15px;
}

.popupdetail-review {
    padding: 15px;
}
.popupdetail-business {
    border-bottom: 1px #ccc solid;
    padding: 15px;
}
.popupdetail-business-info {
    padding: 15px;
}
.popupdetail-total {
    display: flex;
}



.hits {
    width: 50px;
    height: 50px;
    color: black;
}

/* 수정본 */
#heart-icon {
    background-color: unset;
    border: none;
}

.popupdetail  input {
    margin-top: 5px;
    background-color: unset;
    border: none;
    font-size: 15px;
}

.option input {
    font-size: 12px;
    background-color: field;
    border: 1px solid #ccc;
}

#tag{
    border-radius: 30px;
    border: 1px #8B8BDA solid;
    background-color: #FDFEFF;
    padding: 6px 10px;
    text-align: center;
    width: 100%;
}

.location > input {
    width: 100%;
    font-size: 15px;
}

.popupdetail-inner img {
    width: 20px;
    height: 20px;
}

.popupdetail .tit {
    width: 100%;
    font-size: 26px;
}

.abc {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.search-box-inner {
    padding: 5px;
}

.search-box-inner input {
    font-size: 13px;
}

.popupdetail-title-infor {
    position: relative;
}

.w-100 {
    width: 97% !important;
    margin: 0 auto;
}

.ticket p, .parking p{
    margin: 0;
}

.ticket {
    height: 70px;
}

.map-area >input {
    width: 100%;
}

.popupdetail h3 {
    font-size: 20px;
}

.popupdetail-info-inner > textarea {
    resize: none;
    overflow-y: hidden;
}

#myTextarea {
    padding: 10px;
    color: black;
    background: unset;
    width: 100%;
}
.option button {
    border: 1px solid #ccc;
}