@charset "utf-8";
.popTitle {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 50px;
}
.Full {
    display: flex;
    margin: auto;
    text-align: center;
    flex-direction: column;
}
.Full>div {
    margin-bottom: 20px;
}
.popup {
    margin-top: 20px;
}
.popAddress {
    margin-top: -20px;
}