.question-form {
    background-color: white;
    width: 675px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.question {
    margin: 10px auto;
}

.question input {
    width: 600px;
    height: 45px;
    padding: 10px;
}

.question textarea {
    max-width: 600px;
    resize: none;
    padding: 10px;
}

.question-button {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}

.question-button button {
    border: 1px solid #ccc;
    border-radius: 4px;
}


.containers {
    min-height: 700px;
}
