@charset "utf-8";
h2 {
    text-align: center;
    font-size: 1.8em;
    margin: 20px 0;
}
/* 팝업 신청 */

.containers div {
    margin: 20px;
    font-size: 1.3em;
}
h4 {
    color: #4B4B65;
    margin: 20px 10px 15px;
}
.containers .popName {
    display: flex;
}
.containers .popName p {
    margin: 20px 10px 15px;
}
.containers img {
    margin: 15px;

}
.containers .popInfo ul {
    list-style: none;
}
.containers .popInfo li {
    margin: 5px;
}

form {
    margin: 20px;
    display: flex;
    justify-content: center;
    padding: 20px;
}
form label {
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 10px;
}
.containers .check {
    display: flex;
    justify-content: center;
}
.containers button {
    font-size: 1.2em;
    padding: 5px 10px;
    margin: 10px;
}