@charset "utf-8";
h2 {
    text-align: center;
    font-size: 1.8em;
    margin: 20px 0;
}
/*메인 타이틀*/
.main_title {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.main_title img {
    margin: 4px 10px; /* 이미지와 텍스트 사이의 간격 조정 */
    width: 30px;
    height: 30px;
}

/* 팝업 신청 */

.containers div {
    margin: 20px;
}
h4 {
    color: #4B4B65;
    font-size: 26px;
    margin: 20px 10px 15px;
}
.containers .popName {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.containers .popName p {
    margin: 20px 10px 15px;
    font-size: 23px;
}
.containers img {
    margin: 15px;

}
.containers .popInfo ul {
    list-style: none;
    padding: 0;
}
.containers .popInfo li {
    margin: 11px;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
}

.containers .popInfo li > p {
    font-size: 16px;
    font-weight: 400;
}


.radio-form {
    margin: 20px;
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
    align-items: center;
}
form label {
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 10px;
}
.containers .check {
    display: flex;
    justify-content: center;
}
.containers button {
    font-size: 1.2em;
    padding: 5px 10px;
    margin: 10px;
}


.containers {
    float: right;
    width: 769px;
    padding-top: 50px;
}
header {
    width: 1440px;
}

.admin_container {
    width: 670px;
    min-height: 1792px;
    position: relative;
}

.images > div {
    width: 1440px;
}

.register-content {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.main-article {
    display: flex;
    align-items: center;
    overflow: scroll;
    overflow-y: hidden;
}

.popupdetail-banner img{
    height: 400px;
    width: auto;
    margin: 0;
}



.popImg {
    border-bottom: 1px solid #ccc;
}

.containers .popInfo .answer {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
}

 .popInfo .answer div {
    margin: 10px 0;
}


.answer input {
    background-color: unset;
    border: none;
    width: 100px;
    font-size: 15px;
}

.search-box-inner input {
    background-color: #FEFEDF;
    border: 2px solid #8B8BDA;
    padding: 5px 8px 5px 11px;
    border-radius: 30px;
    font-size: 15px;
}