@charset "utf-8";
/*메인 타이틀*/
.main_title {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;

}
.main_title img {
    margin-right: 10px; /* 이미지와 텍스트 사이의 간격 조정 */
    width: 30px;
    height: 30px;
}
h2 {
    text-align: center;
    font-size: 1.8em;
    margin: 20px 0;
}
/* 팝업 신청 */

.containers div {
    margin: 20px;
    font-size: 1.3em;
}
h4 {
    color: #4B4B65;
    margin: 20px 10px 15px;
}
.containers .popName {
    display: flex;
}
.containers .popName p {
    margin: 20px 10px 15px;
}
.containers img {
    margin: 15px;

}
.containers .popInfo ul {
    list-style: none;
}
.containers .popInfo li {
    margin: 5px;
}

form {
    margin: 20px;
    display: flex;
    justify-content: center;
    padding: 20px;
}
form label {
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 10px;
}
.containers .check {
    display: flex;
    justify-content: center;
}
.containers button {
    font-size: 1.2em;
    padding: 5px 10px;
    margin: 10px;
}

.containers {
    min-height: 2000px;
}