<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../../front/front/css/index.css">
    <link rel="stylesheet" href="../../../../../front/front/css/main.css">
    <title>메인페이지</title>
</head>
<style>
</style>
<!-- 클래스 이름주는거 정해서할까요 아니면 각자 알아서? -->
<body>
    <header>
        <div class="images">
            <img class="logo" src="../../../../../front/front/images/POPUP%20DAY.svg" alt="로고">
            <div>
                <img class="user" src="../../../../../front/front/images/Group.svg" alt="회원">
                <img class="category" src="../../../../../front/front/images/Vector.svg" alt="카테고리">
            </div>
        </div>
    </header>
    <!-- https://getbootstrap.kr/docs/5.3/components/carousel/ 쓰고싶다-->
    <div class="container">
        <h1>메인 화면</h1>
        <div class="hash_tags">
            <a class="hash_tag" href="#">#캐릭터</a>
            <a class="hash_tag" href="#">#굿즈</a>
            <a class="hash_tag" href="#">#콜라보</a>
            <a class="hash_tag" href="#">#사전예약</a>
        </div>
        <div class="popup_images">
            <span>1<img class="zzem" src="../static/images/heart_empty.svg" alt="찜"></span>
            <span>2<img class="zzem" src="../../../../../front/front/images/heart_empty.svg" alt="찜"></span>
            <span>3<img class="zzem" src="../../../../../front/front/images/heart_empty.svg" alt="찜"></span>
            <span>4<img class="zzem" src="../../../../../front/front/images/heart_empty.svg" alt="찜"></span>
        </div>
        <div class="popup_more_link">
            <a class="popup_more" href="#">팝업 더보기</a>
        </div>
        <div>
            <h3>달력을 넣어야한다</h3>

        </div>
        <div>
            <div>
                <h3>공지사항</h3>
            </div>
            <div>
                <a class="link_baro" href="#"><span>페이지 이용안내</span><img src="../../../../../front/front/images/arrow-right.svg" alt="페이지 이용안내"></a>
                <a class="link_baro" href="#">FAQ<img src="../../../../../front/front/images/arrow-right.svg" alt="FAQ"></a>
                <a class="link_baro" href="#">Q&A<img src="../../../../../front/front/images/arrow-right.svg" alt="Q&A"></a>
            </div>
        </div>
        <a class="up" href="index.html"><img class="arrow_up" src="../../../../../front/front/images/arror_up.svg"></a>
    </div>
    <footer>
        <div class="under_info">
            <ul>
                <li><a href="index.html">POPUP DAY</a></li>
                <li><a href="#">이용약관</a></li>
                <li><a href="#">개인정보 처리방침</a></li>
                <li><a href="#">고객지원</a></li>
            </ul>
            <p>Copyright 2024. POPUP DAY. All rights reserved.</p>
        </div>
        <div class="under_fix">
            <div class="css-footer-buttons">
                <a href="index.html">
                    <img src="../../../../../front/front/images/home.svg">
                    <span>홈</span>
                </a>
                <a href=""> <!--#카테고리로_넘어가기-->
                    <img src="../../../../../front/front/images/list.svg">
                    <span>카테고리</span>
                </a>
                <a href=""> <!-- #찜 목록으로_넘어가기 -->
                    <img src="../../../../../front/front/images/zzem.svg">
                    <span>찜 목록</span>
                </a>
                <a href=""> <!--#마이페이지로_넘어가기 -->
                    <img src="../../../../../front/front/images/person.svg">
                    <span>마이페이지</span>
                </a>
            </div>
        </div>
    </footer>
    <!-- 처음 div만 이름 바꿨어용 -->
</body>
</html>