<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>사업자 or 개인 회원가입</title>
</head>
<link rel="stylesheet" type="text/css" href="front/css/index.css">
<link rel="stylesheet" type="text/css" href="css/userjoin.css">
<body>
<!--header-->
<!--main.html-->
<header>
    <div class="images">
        <img class="logo" src="images/POPUP%20DAY.svg" alt="로고">
        <div>
            <img class="user" src="images/Group.svg" alt="회원">
            <img class="category" src="images/Vector.svg" alt="카테고리">
        </div>
    </div>
</header>
<!-- https://getbootstrap.kr/docs/5.3/components/carousel/ 쓰고싶다-->
<a href="메인 창">
    <h2>POP UP DAY</h2>
</a>
<div class="individual">
    <span>개인 회원이시라면,</span><br>
    <button>개인 회원</button>
</div>
<div class="businessperson">
    <span>사업자이시라면,</span><br>
    <button>사업자</button>
</div>
<!--footer-->
<footer>
    <div class="under_info">
        <ul>
            <li><a href="index.html">POPUP DAY</a></li>
            <li><a href="#">이용약관</a></li>
            <li><a href="#">개인정보 처리방침</a></li>
            <li><a href="#">고객지원</a></li>
        </ul>
        <p>Copyright 2024. POPUP DAY. All rights reserved.</p>
    </div>
    <div class="under_fix">
        <div class="css-footer-buttons">
            <a href="index.html">
                <img src="front/images/home.svg">
                <span>홈</span>
            </a>
            <a href="#카테고리로_넘어가기">
                <img src="front/images/list.svg">
                <span>카테고리</span>
            </a>
            <a href="#찜 목록으로_넘어가기">
                <img src="front/images/zzem.svg">
                <span>찜 목록</span>
            </a>
            <a href="#마이페이지로_넘어가기">
                <img src="front/images/person.svg">
                <span>마이페이지</span>
            </a>
        </div>
    </div>
</footer>
</body>
</html>