<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/layout">
<head>
    <meta charset="UTF-8">
    <title>사업자 or 개인 회원가입</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/choiceForm.css}">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css}">
</head>
<body>
<th:block layout:fragment="content">
    <div class="containers">
        <div class="mainTitle">
            <a href="메인 창">
                <h2>POP UP DAY</h2>
            </a>
        </div>
        <div class="individual">
            <span>개인 회원이시라면,</span><br>
            <button onclick="location.href='/login/memberForm.do'">개인 회원</button>
        </div>
        <div class="businessperson">
            <span>사업자이시라면,</span><br>
            <button onclick="location.href='/login/businessForm.do'">사업자</button>
        </div>
    </div>
    <script th:src="@{https://cdn.jsdelivr.net/npm/sweetalert2@11}"></script>
</th:block>
</body>
</html>