<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
</head>
<body>
<th:block layout:fragment="content">
    <div class="containers">
        <div class="loginBack">
        <a href="choiceForm.html"><img th:src="@{/images/ltr.svg}"></a>
        <a href="메인 창">
            <h2>POP UP <br>DAY</h2>
        </a>
        </div>

        <div class="login_box">
            <div class="loginText">
                <input type="text" name="id" placeholder="아이디" required><br>
                <input type="password" name="pwd" placeholder="비밀번호" required><br>
            </div>
            <div class="loginButton">
                <input type="submit" value="로그인">
                <input type="reset" value="다시 입력">
            </div>
            <div class="loginButton">
                <a href="#아이디 찾기로 고고씽">아이디찾기</a>
                <a href="#아이디 찾기로 고고씽">비밀번호찾기</a>
            </div>
        </div>
    </div>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{js/jquery-ui.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js}" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js}" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/search.js}"></script>
</th:block>
</body>
</html>