<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css}">
    <meta name="flash-message" th:content="${flashMessage}">
    <meta name="flash-type" th:content="${flashType}">
</head>
<body>
<th:block layout:fragment="content">
    <div class="containers">
        <div class="login-submit">
            <div class="loginBack">
                <div class="loginMain">
                    <a href="/main.do">
                        <h2>POP UP <br>DAY</h2>
                    </a>
                </div>
            </div>

            <form th:action="@{/login/log.do}" method="post">
                <div class="login_box">
                    <div class="loginText">
                        <input type="text" name="user_id" placeholder="아이디" required><br>
                        <input type="password" name="pwd" placeholder="비밀번호" required><br>
                    </div>
                    <div class="loginButton">
                        <input type="submit" class="login_btn" value="로그인">
                    </div>
                    <div class="loginButton">
                        <a href="#">아이디찾기</a>
                        <a href="#">비밀번호찾기</a>
                        <a onclick="location.href='/login/choiceForm.do'">회원 가입</a>
                    </div>
                </div>
            </form>
            <div class="kakaoLogin">
                <a href="javascript:fn_kakao()">
                    <img src="//k.kakaocdn.net/14/dn/btroDszwNrM/I6efHub1SN5KCJqLm1Ovx1/o.jpg"
                         alt="카카오 로그인 버튼">
                </a>
            </div>
        </div>
    </div>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/jquery-ui.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js}" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js}" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/search.js}"></script>
    <script th:src="@{/js/kakao.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/sweetalert2@11}"></script>
    <script th:src="@{/js/login.js}"></script>
</th:block>
</body>
</html>
