<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
    <meta charset="UTF-8">
    <title>팝업 등록</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/popupAllList.css}">
</head>
<body>
<th:block layout:fragment="content">
    <div class="containers allpop">
        <div class="popTitle">
            <h2>팝업 신청</h2>
            <form id="popupStoreForm" class="Full" action="/popup/addPopup.do" method="post" enctype="multipart/form-data">
                <div class="popup-store fillout-form">
                    <label>팝업스토어 이름</label>
                    <input type="text" id="popname" name="title" placeholder="팝업스토어 이름을 적어주세요" required>
                </div>

                <div class="fillout-form">
                    <label>첫 번째 이미지가 썸네일이 됩니다.<br>팝업스토어 이미지 *크기 width: 960, height: 480 권장</label>
                    <input type="file" id="imageFiles" name="image_file_name" class="hidden-input" multiple>
                    <button type="button" class="custom-button" id="customFileButton">파일 선택</button>
                    <div id="dock_file" class="file-display"></div>
                    <button type="button" id="resetButton">취소</button>
                    <p id="fileCount">0개</p>
                </div>

                <div class="fillout-form">
                    <label>팝업스토어 운영 기간</label>
                    <div>
                        <input type="date" name="start_date" required>~<input type="date" name="end_date" required>
                    </div>
                </div>

                <div class="popupdetail-icon-area">
                    <label for="parking" class="parking"><img th:src="@{/images/parking.svg}" alt="주차"></label>
                    <select id="parking" name="parking">
                        <option value="주차가능">주차가능</option>
                        <option value="주차불가능">주차불가능</option>
                    </select>
                    <label for="ticket" class="ticket" ><img th:src="@{/images/ticket.svg}" alt="입장료"></label>
                    <select id="ticket" name="fee">
                        <img th:src="@{/images/ticket.svg}" alt="주차">
                        <option value="입장비무료">입장비무료</option>
                        <option value="입장비유료">입장비유료</option>
                    </select>
                </div>

                <div class="operating-time fillout-form">
                    <label>팝업스토어 운영 시간</label>
                    <div>
                        <label for="monday_time">월:</label>
                        <input type="text" id="monday_time" name="monday_time" placeholder="예: 10:00 ~ 20:00" required>
                    </div>
                    <div>
                        <label for="tuesday_time">화:</label>
                        <input type="text" id="tuesday_time" name="tuesday_time" placeholder="예: 10:00 ~ 20:00" required>
                    </div>
                    <div>
                        <label for="wednesday_time">수:</label>
                        <input type="text" id="wednesday_time" name="wednesday_time" placeholder="예: 10:00 ~ 20:00" required>
                    </div>
                    <div>
                        <label for="thursday_time">목:</label>
                        <input type="text" id="thursday_time" name="thursday_time" placeholder="예: 10:00 ~ 20:00" required>
                    </div>
                    <div>
                        <label for="friday_time">금:</label>
                        <input type="text" id="friday_time" name="friday_time" placeholder="예: 10:00 ~ 20:00" required>
                    </div>
                    <div>
                        <label for="saturday_time">토:</label>
                        <input type="text" id="saturday_time" name="saturday_time" placeholder="예: 10:00 ~ 20:00" required>
                    </div>
                    <div>
                        <label for="sunday_time">일:</label>
                        <input type="text" id="sunday_time" name="sunday_time" placeholder="예: 10:00 ~ 20:00" required>
                    </div>
                </div>

                <div>
                    <label>팝업스토어 주소 : </label>
                    <a href="#" class="findZipcode" onclick="kakaopost()">우편번호 찾기</a>
                    <input type="tel" id="zipcode" name="zipcode" maxlength="5" size="6" title="우편번호">
                </div>
                <div class="popAddress">
                    <input type="text" id="address" name="address" maxlength="100" size="60" placeholder="입력 예)서울시 강남구 서초동 11">
                    <button type="button" onclick="searchAddress()">주소 검색</button>
                </div>

                <!-- 지도를 표시할 div 입니다 -->
                <div id="map" style="width:100%;height:350px;"></div>

                <div class="fillout-form">
                    <label>팝업스토어 한줄 설명</label>
                    <input name="info" class="text-fill" type="text" id="poptext" placeholder="한줄설명을 작성해주세요">
                </div>

                <label>팝업스토어 해시태그</label>
                <div class="checkbox_tag">
                    <input type="button" name="hash_tag" value="해시태그 추가" onclick="fn_addHash_tag()">
                    <td><div id="dock_hash_tag"></div></td>
                </div>

                <div class="fillout-form">
                    <label>팝업스토어 소개 </label>
                    <textarea id="popupnote" name="content" required></textarea>
                </div>

                <div class="fillout-form">
                    <label>브랜드 홈페이지 링크</label>
                    <input name="brand_page" class="url-link" type="url" placeholder="홈페이지 url링크를 적어주세요">
                </div>

                <div class="popup-button">
                    <button type="submit">전송</button>
                    <button type="reset">취소</button>
                </div>
            </form>
        </div>
    </div>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/jquery-ui.min.js}"></script>
    <script th:src="@{|https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js|}" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script th:src="@{|https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js|}" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script th:src="@{/js/search.js}"></script>
    <script th:src="@{/js/popupdata.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <!-- 우편번호 API -->
    <script th:src="@{//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js}"></script>
    <!-- 지도 API -->
    <script type="text/javascript" th:src="@{'//dapi.kakao.com/v2/maps/sdk.js?appkey=089d852b497e6c513c79b8561670e3a0&libraries=services,clusterer,drawing'}"></script>
    <script th:src="@{/js/map.js}"></script>
    <script>
        var script = document.createElement('script');
        script.src = 'https://example.com/script.js';
        script.async = true; // 또는 script.defer = true;
        document.head.appendChild(script);
    </script>
</th:block>
</body>
</html>