<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
    <meta charset="UTF-8">
    <title>Popup List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/popList.css}">
</head>
<body>
<th:block layout:fragment="content">
        <!-- 기존의 팝업 리스트 섹션 -->
    <div class="containers">
        <!-- 검색 결과를 표시할 섹션 -->
        <section class="search-results-section">
            <div th:if="${#lists.isEmpty(results)}">
                <p class="pop-table-none">검색 결과가 없습니다.</p>
            </div>
            <div class="popup-list" th:each="result : ${results}" th:unless="${#lists.isEmpty(results)}">
                <div class="popup-item">
                    <div class="popup-image">
                        <img th:src="@{${result.brand_page}}" alt="Popup Image">
                    </div>
                    <p th:text="${result.title}"></p>
                    <p th:text="${result.start_date} + ' ~ ' + ${result.end_date}"></p>
                    <p th:text="${result.address}"></p>
                </div>
            </div>
        </section>
        <section class="popular-section">
            <h2>인기팝업</h2>
            <ul>
                <li>동방신기팝업</li>
                <li>키티키티</li>
                <li>이젠한번봐</li>
                <li>이클립스맛좀봐</li>
            </ul>
        </section>
        <section class="search-section">
            <h2>상세조회</h2>
            <ul>
                <li>지역 : 전체, 서울, 경기</li>
                <li>날짜 : 오늘, 직접선택</li>
                <li>전체, 진행 중, 예정팝업, 종료팝업</li>
                <li>카테고리 : 아이돌, 만화</li>
                <li>해시태그 : #귀여워 #아이돌 #상큼</li>
            </ul>
        </section>
        <section class="popup-section">
            <h2>예정 중 / 전체보기(2)</h2>
            <div class="popup-list">
                <div class="popup-item">
                    <div class="popup-image"></div>
                    <p>동방신기 팝업</p>
                    <p>24.09.08 ~ 24.10.01</p>
                    <p>서울특별시 강남구 루루쌤빌딩</p>
                    <span class="favorite"><img th:src="@{/images/heart_empty.svg}"></span>
                </div>
                <div class="popup-item">
                    <div class="popup-image"></div>
                    <p>동방신기 팝업</p>
                    <p>24.09.08 ~ 24.10.01</p>
                    <p>서울특별시 강남구 루루쌤빌딩</p>
                    <span class="favorite"><img th:src="@{/images/heart_empty.svg}"></span>
                </div>
            </div>
        </section>
        <section class="popup-section">
            <h2>종료 / 전체보기(1)</h2>
            <div class="popup-list">
                <div class="popup-item">
                    <div class="popup-image"></div>
                    <p>동방신기 팝업</p>
                    <p>24.09.08 ~ 24.10.01</p>
                    <p>서울특별시 강남구 루루쌤빌딩</p>
                    <span class="favorite"><img th:src="@{/images/heart_empty.svg}"></span>
                </div>
                <div class="popup-item">
                    <div class="popup-image"></div>
                    <p>동방신기 팝업</p>
                    <p>24.09.08 ~ 24.10.01</p>
                    <p>서울특별시 강남구 루루쌤빌딩</p>
                    <span class="favorite"><img th:src="@{/images/heart_empty.svg}"></span>
                </div>
            </div>
        </section>
    </div>

</th:block>
<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
<script th:src="@{js/jquery-ui.min.js}"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js}" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js}" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script th:src="@{/js/search.js}"></script>
</body>
</html>
