<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{css/layout.css}" />
    <link rel="stylesheet" th:href="@{/css/passwordmodify.css}">
    <title>비밀번호 변경 페이지</title>
</head>
<body>
<th:block layout:fragment="content">
    <!--회원정보 수정 페이지 -->
    <div class="passwordmodify">
        <div class="main_title">
            <img th:src="@{images/ltr.svg}" alt="왼쪽화살표">
            <h2>비밀번호 변경</h2>
        </div>

        <form action="join.jsp" method="post" id="passwordForm" name="joinForm">
            <p>
                <label for="password">현재비밀번호<strong class="require"></strong></label><br>
                <input type="password" id="password" name="password">
            </p>
            <p>
                <label for="newpassword">새 비밀번호</label><strong class="require"></strong></label><br>
                <input type="newpassword" id="newpassword" name="newpassword" >
            </p>
            <p>
                <label for="newpasswordcheck">비밀번호 확인<strong class="require"></strong></label><br>
                <input type="newpasswordcheck" id="newpasswordcheck" name="newpasswordcheck">
            </p>
            <p>
                <input type="submit" value="저장">
            </p>
        </form>
    </div>
</th:block>
</body>
</html>